<div class="borda">

<!-- <div class="logo">
  <img class= "logo-img" src="./assets/img/header.png" alt="header mv">
  </div> -->

<!-- <div class="flex-box" id="centro">
  <h4>CADASTRAMENTO DE FORNECEDORES E DECLARAÇÃO – DUE DILLIGENCE</h4>
</div> -->


<app-form-debug [form]="formulario"></app-form-debug>

<form class="form-horizontal font" [formGroup]="formulario">



   <!-- <div class="linha">
    <input
    type="text"
    cols="40"
    rows="5"
    placeholder="Digite a Razão Social"
    style="width: 400px; height: 25px"
    formControlName="razSocCad"
    id="razSocCad"
    [ngClass]="{ 'is-invalid': f.razSocCad.errors && f.razSocCad.touched }"
  /> <label for="control-label">., pessoa jurídica de direito privado, devidamente inscrita no Cadastro
    Nacional da Pessoa</label>

      <div *ngIf="f.razSocCad.errors?.required" class="invalid-feedback">
        A razão social é obrigatória
      </div>
   </div>


   <div class="linha">
    <div>
      <label for="control-label">Jurídica – CNPJ sob n.º</label>
      <input
      type="text"
      cols="40"
      rows="5"
      placeholder="Digite o CNPJ"
      mask="00.000.000/0000-00"
      style="width: 196px; height: 25px"
      formControlName="cnpjCad"
      id="cnpjCad"
      [ngClass]="{ 'is-invalid': f.cnpjCad.errors && f.cnpjCad.touched }"
      />
      <div *ngIf="f.cnpjCad.errors?.required" class="invalid-feedback">
        O CNPJ é obrigatório
      </div>

    </div>

    <div>
      <label for="control-label">, com sede à </label>
      <input
        type="text"
        cols="40"
        rows="5"
        placeholder="Digite o endereço completo"
        style="width: 450px; height: 25px"
        formControlName="endCad"
        id="endCad"
        [ngClass]="{ 'is-invalid': f.endCad.errors && f.endCad.touched }"
        />
        <div *ngIf="f.endCad.errors?.required" class="invalid-feedback">
          O endereço é obrigatório
        </div>
    </div>
    <div>
       <label for="control-label">, CEP</label>
      <input
        type="text"
        cols="40"
        rows="5"
        placeholder="Digite o CEP"
        mask="00000-000"
        style="width: 150px; height: 25px"
        formControlName="cepCad"
        id="cepCad"
        [ngClass]="{ 'is-invalid': f.cepCad.errors && f.cepCad.touched }"
        />
        <div *ngIf="f.cepCad.errors?.required" class="invalid-feedback">
          O CEP é obrigatório
        </div>
    </div>

   </div>
<div class="linha">

  <div>
    <label for="control-label">na Cidade de</label>
  <input
    type="text"
    placeholder="Digite a cidade"
    cols="40"
    rows="5"
    style="width: 150px; height: 25px"
    formControlName="cidadeCad"
    id="cidadeCad"
    [ngClass]="{ 'is-invalid': f.cidadeCad.errors && f.cidadeCad.touched }"
    />
    <div *ngIf="f.cidadeCad.errors?.required" class="invalid-feedback">
      A cidade é obrigatória
    </div>
  </div>
  <div>
  <label for="control-label">, Estado de</label>
  <input
    type="text"
    cols="40"
    rows="5"
    placeholder="Ex: PE, BA, SP"
    style="width: 100px; height: 25px"
    formControlName="estadoCad"
    id="estadoCad"
    [ngClass]="{ 'is-invalid': f.estadoCad.errors && f.estadoCad.touched }"
    />
    <div *ngIf="f.estadoCad.errors?.required" class="invalid-feedback">
      O estado é obrigatório
    </div>
  </div>
  <div>
    <label for="control-label">, por sua matriz e filiais, neste ato representada por seu sócio</label>
  <input
    type="text"
    cols="40"
    rows="5"
    placeholder="Nome do sócio"
    style="width: 210px; height: 25px"
    formControlName="socioCad"
    id="socioCad"
    [ngClass]="{ 'is-invalid': f.socioCad.errors && f.socioCad.touched }"
    />,
    <div *ngIf="f.socioCad.errors?.required" class="invalid-feedback">
      O sócio é obrigatório
    </div>
  </div>
</div>

<div class="linha">
  <div>
  <label for="control-label">Cargo</label>
  <input
    type="text"
    placeholder="Cargo do sócio"
    cols="40"
    rows="5"
    style="width: 238px; height: 25px"
    formControlName="cargoCad"
    id="cargoCad"
    [ngClass]="{ 'is-invalid': f.cargoCad.errors && f.cargoCad.touched }"
    />
    <div *ngIf="f.cargoCad.errors?.required" class="invalid-feedback">
      O cargo é obrigatório
    </div>
  </div>
  <div>
   <label for="control-label">, CPF/MF</label>
  <input
    type="text"
    placeholder="Digite o CPF"
    mask="000.000.000-00"
    cols="40"
    rows="5"
    style="width: 150px; height: 25px"
    formControlName="cpf1Cad"
    id="cpf1Cad"
    [ngClass]="{ 'is-invalid': f.cpf1Cad.errors && f.cpf1Cad.touched }"
    />
    <div *ngIf="f.cpf1Cad.errors?.required" class="invalid-feedback">
      O CPF é obrigatório
    </div>
  </div>
  <div>
  <label for="control-label">, RG</label>
  <input
    type="text"
    cols="40"
    placeholder="Digite o RG"
    rows="5"
    style="width: 170px; height: 25px"
    formControlName="rg1Cad"
    id="rg1Cad"
    [ngClass]="{ 'is-invalid': f.rg1Cad.errors && f.rg1Cad.touched }"
    />
    <div *ngIf="f.rg1Cad.errors?.required" class="invalid-feedback">
      O RG é obrigatório
    </div>
  </div>
  <div>
  <label for="control-label">, CPF/MF </label>
  <input
    type="text"
    cols="40"
    placeholder="Digite o CPF"
    mask="000.000.000-00"
    rows="5"
    style="width: 150px; height: 25px"
    formControlName="cpf2Cad"
    id="cpf2Cad"
    [ngClass]="{ 'is-invalid': f.cpf2Cad.errors && f.cpf2Cad.touched }"
    />
    <div *ngIf="f.cpf2Cad.errors?.required" class="invalid-feedback">
      O CPF é obrigatório
    </div>
  </div>
  <div>
  <label for="control-label">, RG</label>
  <input
    type="text"
    cols="40"
    placeholder="Digite o RG"
    rows="5"
    style="width: 150px; height: 25px"
    formControlName="rg2Cad"
    id="rg2Cad"
    [ngClass]="{ 'is-invalid': f.rg2Cad.errors && f.rg2Cad.touched }"
    />,
    <div *ngIf="f.rg2Cad.errors?.required" class="invalid-feedback">
      O RG é obrigatório
    </div>
  </div>
</div>

<div class="linha">
  <div>
  <label for="control-label">ambos com endereço na Rua</label>
  <input
    type="text"
    placeholder="Digite o Endereço completo"
    cols="40"
    rows="5"
    style="width: 600px; height: 25px"
    formControlName="end2Cad"
    id="end2Cad"
    [ngClass]="{ 'is-invalid': f.end2Cad.errors && f.end2Cad.touched }"
    />
    <div *ngIf="f.end2Cad.errors?.required" class="invalid-feedback">
      O endereço é obrigatório
    </div>
  </div>
  <div><label for="control-label">, CEP </label>
    <input
      type="text"
      cols="40"
      placeholder="Digite o CEP"
      mask="00000-000"
      rows="5"
      style="width: 160px; height: 25px"
      formControlName="cep2Cad"
      id="cep2Cad"
      [ngClass]="{ 'is-invalid': f.cep2Cad.errors && f.cep2Cad.touched }"
      />
      <div *ngIf="f.cep2Cad.errors?.required" class="invalid-feedback">
        O CEP é obrigatório
      </div></div>
  , DECLARA:
<hr>
</div> -->


<div class="flex-box" id="centro">
  <h4>Dados necessários para o cadastramento de Fornecedores Nacional</h4>
</div>






  <div class="d-flex">
    <div class="form-group col-md-3">
      <label class="control-label" for="data">Data do Cadastro</label>
      <input
        id="data"
        class="form-control"
        [ngClass]="{ 'is-invalid': f.data.errors && f.data.touched }"
        type="date"
        formControlName="data"
      />
      <div *ngIf="f.data.errors?.required" class="invalid-feedback">
        A data de cadastro é obrigatória
      </div>
    </div>

    <div class="form-group col-md-6">
      <div><label for="razSoc">Razão Social</label></div>
      <div>
        <input
          type="text"
          class="form-control"
          [ngClass]="{ 'is-invalid': f.razSoc.errors && f.razSoc.touched }"
          formControlName="razSoc"
          id="razSoc"
          placeholder="Digite a Razão Social"
        />
        <div *ngIf="f.razSoc.errors?.required" class="invalid-feedback">
          A razão social é obrigatória
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div><label for="control-label">Número de Funcionários</label></div>

      <input
  type="text"
  placeholder="Digite o número de funcionários"
  class="form-control"
  formControlName="numFunc"
  id="numFunc"
  [ngClass]="{ 'is-invalid': f.numFunc.errors && f.numFunc.touched }"
  />
  <div *ngIf="f.numFunc.errors?.required" class="invalid-feedback">
    O número de funcionários é obrigatório
  </div>
    </div>

  </div>

  <div class="d-flex">
    <div class="col-md-4 form-group">
      <label for="cnpj" class="control-label">CNPJ</label>
      <input
        type="text"
        class="form-control"
        formControlName="cnpj"
        id="cnpj"
        maxlength="18"
        mask="00.000.000/0000-00"
        [ngClass]="{ 'is-invalid': f.cnpj.errors && f.cnpj.touched }"
        placeholder="00.000.000/0000-00"
      />
      <div *ngIf="f.cnpj.errors?.required" class="invalid-feedback">
        O CNPJ é obrigatório
      </div>
    </div>

    <div class="col-md-4">
      <label for="inscEst" class="control-label">Inscrição Estadual</label>
      <input
      type="text"
        class="form-control"
        placeholder="Digite a Inscrição Estadual"
        [ngClass]="{ 'is-invalid': f.inscEst.errors && f.inscEst.touched }"
        formControlName="inscEst"
        id="inscEst"
      />
      <div *ngIf="f.inscEst.errors?.required" class="invalid-feedback">
        A Inscrição Estadual é obrigatória.
      </div>
    </div>

    <div class="col-md-4">
      <label for="inscMun" class="control-label">Inscrição Municipal</label>
      <input
      type="text"
        class="form-control"
        placeholder="Digite a Inscrição Municipal"
        [ngClass]="{ 'is-invalid': f.inscMun.errors && f.inscMun.touched }"
        formControlName="inscMun"
        id="inscMun"
      />
      <div *ngIf="f.inscMun.errors?.required" class="invalid-feedback">
        A Inscrição Municipal é obrigatória
      </div>
    </div>
  </div>

    <div class="d-flex">
    <div class="col-md-4 form-group">
      <div><label for="fone">Telefone de contato (principal)</label></div>

      <input
        type="text"
        class="form-control"
        [ngClass]="{ 'is-invalid': f.fone.errors && f.fone.touched }"
        formControlName="fone"
        id="fone"
        maxlength="18"
        mask="(00) 0000-0000"
        placeholder="(00) 0000-0000"
      />
      <div *ngIf="f.fone.errors?.required" class="invalid-feedback">
        O telefone é obrigatório
      </div>
    </div>

    <div class="col-md-4">
      <div><label for="fone2">Telefone de contato (secundário)</label></div>

      <input
        type="text"
        class="form-control"
        [ngClass]="{ 'is-invalid': f.fone2.errors && f.fone2.touched }"
        formControlName="fone2"
        id="fone2"
        mask="(00) 0000-0000"
        placeholder="(00) 0000-0000"
      />
      <div *ngIf="f.fone2.errors?.required" class="invalid-feedback">
        O telefone é obrigatório
      </div>
    </div>

    <div class="col-md-4">
      <div><label for="email">Email</label></div>

      <input
        type="text"
        class="form-control"
        [ngClass]="{ 'is-invalid': f.email.errors && f.email.touched }"
        formControlName="email"
        id="email"
        placeholder="nome@email.com"
      />
      <div *ngIf="f.email.errors?.required" class="invalid-feedback">
        O Email é obrigatório.
      </div>
    </div>
  </div>

  <!-- CADASTRO DOS SÓCIOS -->
  <div>
  <div class="flex-box" id="centro">
    <h4>Cadastro de Sócios</h4>
  </div>

<div class="d-flex">
    <div class="col-md-6">
      <div><label>Nome do Sócio</label></div>

      <input
      type="text"
      placeholder="Nome do sócio"
      class="form-control"
      formControlName="socioCad"
      id="socioCad"
      [ngClass]="{ 'is-invalid': f.socioCad.errors && f.socioCad.touched }"
      />
      <div *ngIf="f.socioCad.errors?.required" class="invalid-feedback">
        O sócio é obrigatório
      </div>
    </div>

    <div class="col-md-6">
      <div><label for="control-label">Cargo</label></div>

      <input
    type="text"
    placeholder="Cargo do sócio"
    class="form-control"
    formControlName="cargoCad"
    id="cargoCad"
    [ngClass]="{ 'is-invalid': f.cargoCad.errors && f.cargoCad.touched }"
    />
    <div *ngIf="f.cargoCad.errors?.required" class="invalid-feedback">
      O cargo é obrigatório
    </div>
    </div>

  </div>


  <div class="d-flex">
    <div class="col-md-4">
      <div><label for="control-label">CPF/MF</label></div>

      <input
      type="text"
      placeholder="Digite o CPF/MF"
      class="form-control"
      mask="000.000.000-00"
      formControlName="cpf1Cad"
      id="cpf1Cad"
      [ngClass]="{ 'is-invalid': f.cpf1Cad.errors && f.cpf1Cad.touched }"
      />
      <div *ngIf="f.cpf1Cad.errors?.required" class="invalid-feedback">
        O CPF/MF é obrigatório
      </div>
    </div>
    <div class="col-md-4">
        <div><label for="control-label">RG</label></div>

        <input
    type="text"
    placeholder="Digite o RG"
    class="form-control"
    formControlName="rg1Cad"
    id="rg1Cad"
    [ngClass]="{ 'is-invalid': f.rg1Cad.errors && f.rg1Cad.touched }"
    />
    <div *ngIf="f.rg1Cad.errors?.required" class="invalid-feedback">
      O RG é obrigatório
    </div>
      </div>

      <div class="col-md-4">
        <div><label for="control-label">% de participação na empresa</label></div>

        <input
    type="text"
    placeholder="Digite o % de participação na empresa"
    class="form-control"
    formControlName="percentPart1"
    id="percentPart1"
    [ngClass]="{ 'is-invalid': f.percentPart1.errors && f.percentPart1.touched }"
    />
    <div *ngIf="f.percentPart1.errors?.required" class="invalid-feedback">
      O % de participação na empresa é obrigatório
    </div>
      </div>


  </div>
</div>

<div class="flex-box">
  <button
  type="submit"
  class="btn-success"
 (click)="cadSocio()">
  Adicionar Sócio
</button>
</div>


<!-- (keyup)="onKey($event)" -->

<!-- <div class="d-flex">
    <div class="col-md-6 form-group">
      <div><label>Nome do Sócio</label></div>

      <input
      type="text"
      placeholder="Nome do sócio"
      class="form-control"
      formControlName="socio2Cad"
      id="socio2Cad"
      [ngClass]="{ 'is-invalid': f.socio2Cad.errors && f.socio2Cad.touched }"
      />
      <div *ngIf="f.socio2Cad.errors?.required" class="invalid-feedback">
        O sócio é obrigatório
      </div>
    </div>

    <div class="col-md-6">
      <div><label for="control-label">Cargo</label></div>

      <input
    type="text"
    placeholder="Cargo do sócio"
    class="form-control"
    formControlName="cargo2Cad"
    id="cargo2Cad"
    [ngClass]="{ 'is-invalid': f.cargo2Cad.errors && f.cargo2Cad.touched }"
    />
    <div *ngIf="f.cargo2Cad.errors?.required" class="invalid-feedback">
      O cargo é obrigatório
    </div>
    </div>
  </div>

  <div class="d-flex">
    <div class="col-md-4">
      <div><label for="control-label">CPF/MF</label></div>

      <input
      type="text"
      placeholder="Digite o CPF/MF"
      class="form-control"
      mask="000.000.000-00"
      formControlName="cpf2Cad"
      id="cpf2Cad"
      [ngClass]="{ 'is-invalid': f.cpf2Cad.errors && f.cpf2Cad.touched }"
      />
      <div *ngIf="f.cpf2Cad.errors?.required" class="invalid-feedback">
        O CPF/MF é obrigatório
      </div>
    </div>
    <div class="col-md-4">
        <div><label for="control-label">RG</label></div>

        <input
    type="text"
    placeholder="Digite o RG"
    class="form-control"
    formControlName="rg2Cad"
    id="rg2Cad"
    [ngClass]="{ 'is-invalid': f.rg2Cad.errors && f.rg2Cad.touched }"
    />
    <div *ngIf="f.rg2Cad.errors?.required" class="invalid-feedback">
      O RG é obrigatório
    </div>
      </div>

      <div class="col-md-4">
        <div><label for="control-label">% de participação na empresa</label></div>

        <input
    type="text"
    placeholder="Digite o % de participação na empresa"
    class="form-control"
    formControlName="percentPart2"
    id="percentPart2"
    [ngClass]="{ 'is-invalid': f.percentPart2.errors && f.percentPart2.touched }"
    />
    <div *ngIf="f.percentPart2.errors?.required" class="invalid-feedback">
      O % de participação na empresa é obrigatório
    </div>
      </div>


  </div> -->


  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nome do Sócio</th>
        <th scope="col">Cargo do Sócio</th>
        <th scope="col">CPF/MF</th>
        <th scope="col">RG</th>
        <th scope="col">% de Participação na Empresa</th>
        <th></th>
      </tr>
    </thead>

      <tr *ngFor="let socio of socioget">
        <td>{{socio.socioCad}}</td>
        <td>{{socio.cargoCad}}</td>
        <td>{{socio.cpf1Cad}}</td>
        <td>{{socio.rg1Cad}}</td>
        <td>{{socio.percentPart1}}</td>
        <td><button title="Remover" (click)="removerSocio(socio)" class="btn btn-danger">
          <i class="fa fa-trash" aria-hidden="true"></i>
       </button></td>
  </table>




  <div class="d-flex">
    <div class="col-md-8 form-group">
      <label for="end2Cad" class="control-label">Endereço Completo Sócios</label>
      <input
        type="text"
        class="form-control"
        placeholder="Digite o endereço completo"
        [ngClass]="{ 'is-invalid': f.end2Cad.errors && f.end2Cad.touched }"
        formControlName="end2Cad"
        id="end2Cad"
      />
      <div *ngIf="f.end2Cad.errors?.required" class="invalid-feedback">
        O campo Endereço é obrigatório.
      </div>
    </div>

    <div class="col-md-4">
      <label for="cep2Cad" class="control-label">CEP</label>
      <input
        type="text"
        class="form-control"
        placeholder="Digite o CEP"
        [ngClass]="{
          'is-invalid': f.cep2Cad.errors && f.cep2Cad.touched
        }"
        formControlName="cep2Cad"
        id="cep2Cad"
      />
      <div *ngIf="f.cep2Cad.errors?.required" class="invalid-feedback">
        O campo CEP é obrigatório.
      </div>
    </div>
  </div>



  <div class="flex-box" id="centro">
    <h4>Contato financeiro</h4>
  </div>

  <div class="d-flex">
    <div class="col-md-6 form-group">
      <label for="nomeFin">Nome do contato financeiro</label>
      <input
        type="text"
        class="form-control"
        [ngClass]="{ 'is-invalid': f.nomeFin.errors && f.nomeFin.touched }"
        formControlName="nomeFin"
        id="nomeFin"
        placeholder="Digite o nome do contato financeiro"
      />
      <div *ngIf="f.nomeFin.errors?.required" class="invalid-feedback">
        O nome do contato financeiro é obrigatório.
      </div>
    </div>

    <div class="col-md-6">
      <label for="cargo" class="control-label">Cargo</label>
      <input
        type="text"
        class="form-control"
        [ngClass]="{ 'is-invalid': f.cargo.errors && f.cargo.touched }"
        formControlName="cargo"
        id="cargo"
        placeholder="Digite o cargo"
      />
      <div *ngIf="f.cargo.errors?.required" class="invalid-feedback">
        O cargo é obrigatório.
      </div>
    </div>
  </div>

  <div class="d-flex">
    <div class="col-md-4">
      <div><label for="fone3">Telefone</label></div>

      <input
        type="text"
        class="form-control"
        [ngClass]="{ 'is-invalid': f.fone3.errors && f.fone3.touched }"
        formControlName="fone3"
        id="fone3"
        mask="(00) 0000-0000"
        placeholder="(00) 0000-0000"
      />
      <div *ngIf="f.fone3.errors?.required" class="invalid-feedback">
        O telefone é obrigatório.
      </div>
    </div>

    <div class="col-md-4">
      <div><label for="emailFin">Email</label></div>
      <input
        type="text"
        class="form-control"
        [ngClass]="{ 'is-invalid': f.emailFin.errors && f.emailFin.touched }"
        formControlName="emailFin"
        id="emailFin"
        placeholder="nome@email.com"
      />
      <div *ngIf="f.emailFin.errors?.required" class="invalid-feedback">
        O Email é obrigatório.
      </div>
    </div>

    <div class="col-md-4">
      <div><label for="emailFin">Contato na MV</label></div>

      <input
        type="text"
        class="form-control"
        [ngClass]="{ 'is-invalid': f.contMv.errors && f.contMv.touched }"
        formControlName="contMv"
        id="contMv"
        placeholder="Digite o nome do seu contato na MV"
      />
      <div *ngIf="f.contMv.errors?.required" class="invalid-feedback">
        O contato MV é obrigatório.
      </div>
    </div>
  </div>
  <br />

  <div class="flex-box" id="centro">
    <h4>Endereço completo</h4>
  </div>

  <div>
    <div class="form-group">
      <div class="d-flex">
        <div class="col-md-4 form-group">
          <label for="cep" class="control-label">CEP</label>
          <input
            type="text"
            class="form-control"
            [ngClass]="{ 'is-invalid': f.cep.errors && f.cep.touched }"
            formControlName="cep"
            mask="00000-000"
            id="cep"
            placeholder="00000-000"
            (blur)="consultaCEP()"
          />
          <div *ngIf="f.cep.errors?.required" class="invalid-feedback">
            O campo CEP é obrigatório.
          </div>
        </div>



          <div class="col-md-6">
            <label for="rua" class="control-label">Rua</label>
            <input
              type="text"
              class="form-control"
              [ngClass]="{ 'is-invalid': f.rua.errors && f.rua.touched }"
              formControlName="rua"
              id="rua"
              placeholder="Digite o nome da rua"
            />
            <div *ngIf="f.rua.errors?.required" class="invalid-feedback">
              O campo Rua é obrigatório.
            </div>
          </div>


        <div class="col-md-2">
          <label for="numero" class="control-label">Número</label>
          <input
            type="number"
            class="form-control"
            placeholder="Digite o número"
            [ngClass]="{ 'is-invalid': f.numero.errors && f.numero.touched }"
            formControlName="numero"
            id="numero"
          />
          <div *ngIf="f.numero.errors?.required" class="invalid-feedback">
            O campo número é obrigatório.
          </div>
        </div>

      </div>

      <div class="d-flex">
        <div class="col-md-5 form-group">
          <label for="bairro" class="control-label">Bairro</label>
          <input
            type="text"
            class="form-control"
            placeholder="Digite o bairro"
            [ngClass]="{ 'is-invalid': f.bairro.errors && f.bairro.touched }"
            formControlName="bairro"
            id="bairro"
          />
          <div *ngIf="f.bairro.errors?.required" class="invalid-feedback">
            O campo Bairro é obrigatório.
          </div>
        </div>

        <div class="col-md-4">
          <label for="cidade" class="control-label">Cidade</label>
          <input
            type="text"
            class="form-control"
            placeholder="Digite a cidade"
            [ngClass]="{ 'is-invalid': f.cidade.errors && f.cidade.touched }"
            formControlName="cidade"
            id="cidade"
          />
          <div *ngIf="f.cidade.errors?.required" class="invalid-feedback">
            O campo Cidade é obrigatório.
          </div>
        </div>

        <div class="col-md-3">
          <label for="estado" class="control-label">Estado</label>
          <input
            type="text"
            class="form-control"
            placeholder="Digite o estado"
            [ngClass]="{ 'is-invalid': f.estado.errors && f.estado.touched }"
            formControlName="estado"
            id="estado"
          />
          <div *ngIf="f.estado.errors?.required" class="invalid-feedback">
            O campo Estado é obrigatório.
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <label for="complemento" class="control-label">Complemento</label>
        <input
          type="text"
          class="form-control"
          placeholder="Digite o complemento"
          formControlName="complemento"
          id="complemento"
        />
      </div>
    </div>

  </div>

  <div class="flex-box" id="centro">
    <h4>Dados Bancários</h4>
  </div>
  <div class="d-flex">
    <div class="col-md-4">
      <label for="conta" class="control-label">Conta</label>
      <input
      type="text"
        class="form-control"
        placeholder="Digite o número da conta"
        [ngClass]="{ 'is-invalid': f.conta.errors && f.conta.touched }"
        formControlName="conta"
        id="conta"
      />
      <div *ngIf="f.conta.errors?.required" class="invalid-feedback">
        O campo Conta é obrigatório.
      </div>
    </div>

    <div class="col-md-4 form-group">
      <label for="agencia" class="control-label">Agência</label>
      <input
      type="text"
        class="form-control"
        placeholder="Digite a agência"
        [ngClass]="{ 'is-invalid': f.agencia.errors && f.agencia.touched }"
        formControlName="agencia"
        id="agencia"
      />
      <div *ngIf="f.agencia.errors?.required" class="invalid-feedback">
        O campo Agência é obrigatório.
      </div>
    </div>

    <div class="col-md-4">
      <label for="op" class="control-label">Operação</label>
      <input
      type="text"
        class="form-control"
        placeholder="Digite o código da operação"
        [ngClass]="{ 'is-invalid': f.op.errors && f.op.touched }"
        formControlName="op"
        id="op"
      />
      <div *ngIf="f.op.errors?.required" class="invalid-feedback">
        O campo Operação é obrigatório.
      </div>
    </div>
  </div>
  <div class="d-flex">
    <div class="col-md-6 form-group">
      <label for="banco" class="control-label">Banco</label>
      <input
        type="text"
        class="form-control"
        placeholder="Digite o codigo e nome do banco"
        [ngClass]="{ 'is-invalid': f.banco.errors && f.banco.touched }"
        formControlName="banco"
        id="banco"
      />
      <div *ngIf="f.banco.errors?.required" class="invalid-feedback">
        O campo Banco é obrigatório.
      </div>
    </div>

    <div class="col-md-6">
      <label for="favorecido" class="control-label">Favorecido</label>
      <input
        type="text"
        class="form-control"
        placeholder="Digite o nome do favorecido"
        [ngClass]="{
          'is-invalid': f.favorecido.errors && f.favorecido.touched
        }"
        formControlName="favorecido"
        id="favorecido"
      />
      <div *ngIf="f.favorecido.errors?.required" class="invalid-feedback">
        O campo Favorecido é obrigatório.
      </div>
    </div>
  </div>

<!-- UPLOAD ARQUIVO -->

  <!-- <div class="flex-box">
    <h4>Documentos Exigidos (anexar)</h4>
  </div>
  <div class="flex-box">
    1. Cópia da procuração quando a empresa for representada por não sócio
    administrador;
  </div>
  <div class="flex-box">
    2. Cópia do contrato social juntamente com a última alteração
  </div>
  <div class="flex-box"><input type="file" /></div>
  <br /> -->

  <!-- QUESTIONÁRIO -->

  <div class="flex-box" id="centro">
    <h4>Questionário</h4>
  </div>

<!-- PERGUNTA 1 -->
  <div class="container">
    <form [formGroup]="formulario">

      <div class="form-group">
          <label for="Quest1">1 - Possui capacidade técnica para execução integral dos serviços contratados?</label>
         <div class="linha">
          <div class="form-check-inline">
            <input id="true" type="radio" value="1" name="Quest1"  formControlName="Quest1" (change)="changeQuiz($event)"> Sim
         </div>

         <div class="form-check-inline">
            <input id="false" type="radio" value="0" name="Quest1" formControlName="Quest1" (change)="changeQuiz($event)"> Não
         </div>
         </div>
      </div>
  </form>
</div>

<!-- PERGUNTA 2 -->
<div class="container">

  <form [formGroup]="formulario">

    <div class="form-group">
        <label for="Quest2">2 - A empresa possui programa de integridade ou Compliance?</label>
       <div class="linha">
        <div class="form-check-inline">
          <input id="true" type="radio" value='1' name="Quest2"  formControlName="Quest2" (change)="changeQuiz($event)"> Sim
       </div>

       <div class="form-check-inline">
          <input id="false" type="radio" value="0" name="Quest2" formControlName="Quest2" (change)="changeQuiz($event)"> Não
       </div>
       </div>
    </div>
</form>
</div>

<!-- PERGUNTA 3 -->
<div class="container">

  <form [formGroup]="formulario">

    <div class="form-group">
        <label for="Quest3">3 - A empresa possui histórico de envolvimento em investigações em casos
          de fraude, corrupção ou lavagem de dinheiro?</label>
       <div class="linha">
        <div class="form-check-inline">
          <input id="true" type="radio" value='1' name="Quest3"  formControlName="Quest3" (change)="changeQuiz($event)"> Sim
       </div>

       <div class="form-check-inline">
          <input id="false" type="radio" value="0" name="Quest3" formControlName="Quest3" (change)="changeQuiz($event)"> Não
       </div>
       </div>
    </div>
</form>
</div>

<!-- PERGUNTA 4 -->
<div class="container">

  <form [formGroup]="formulario">

    <div class="form-group">
        <label for="Quest4">4 - A empresa está listada ou se já fez parte do Cadastro Nacional de
          Empresas Inidôneas e Suspensas (CEIS) e no Cadastro Nacional das Empresas
          Punidas (CNEP).</label>
       <div class="linha">
        <div class="form-check-inline">
          <input id="true" type="radio" value='1' name="Quest4"  formControlName="Quest4" (change)="changeQuiz($event)"> Sim
       </div>

       <div class="form-check-inline">
          <input id="false" type="radio" value="0" name="Quest4" formControlName="Quest4" (change)="changeQuiz($event)"> Não
       </div>
       </div>
    </div>
</form>
</div>

<!-- PERGUNTA 5 -->
<div class="container">
  <form [formGroup]="formulario">

    <div class="form-group">
        <label for="radio5">5 - Informe o nome de outros clientes nos quais prestou serviços similares:</label>
       <div class="linha">

       </div>
       <div class="form-group">
        <textarea
          class="form-control"
          id="textarea5"
          formControlName="textarea5"
          rows="3"
        ></textarea>
      </div>
    </div>
</form>
</div>

<!-- PERGUNTA 6 -->
<div class="container">
  <form [formGroup]="formulario">

    <div class="form-group">
        <label for="radio6">6 - Descreva as atividades de sua empresa CNAEs</label>
       <div class="linha">

       </div>
       <div class="form-group">
        <textarea
          class="form-control"
          id="textarea6"
          formControlName="textarea6"
          rows="3"
        ></textarea>
      </div>
    </div>
</form>
</div>



<!-- PERGUNTA 7 -->
  <div class="container">
    <form [formGroup]="formulario">

      <div class="form-group">
          <label for="Quest7">7 - Algum sócio e/ou administrador possui vínculo empregatício com a MV?</label>
         <div class="linha">
          <div class="form-check-inline">
            <input id="true" type="radio" value='1' name="Quest7"  formControlName="Quest7" (change)="changeQuiz7($event)"> Sim
         </div>

         <div class="form-check-inline">
            <input id="false" type="radio" value="0" name="Quest7" formControlName="Quest7" (change)="changeQuiz7($event)"> Não
         </div>
         </div>
         <div class="form-group" [hidden]="!caixa7">
          <label for="textarea7"
            >Em caso positivo, descreva o cargo e local da prestação de
            serviços:</label
          >
          <textarea
            class="form-control"
            id="textarea7"
            formControlName="textarea7"
            rows="3"
          ></textarea>
        </div>
      </div>
  </form>
</div>

<!-- PERGUNTA 8 -->

<div class="container">
  <form [formGroup]="formulario">

    <div class="form-group">
        <label for="Quest8">8 - O funcionário que vai prestar serviço a MV já possuiu vínculo empregatício com a MV? </label>
       <div class="linha">
        <div class="form-check-inline">
          <input id="true" type="radio" value='1' name="Quest8"  formControlName="Quest8" (change)="changeQuiz8($event)"> Sim
       </div>

       <div class="form-check-inline">
          <input id="false" type="radio" value="0" name="Quest8" formControlName="Quest8" (change)="changeQuiz8($event)"> Não
       </div>
       </div>
       <div class="form-group" [hidden]="!caixa8">
        <label for="textarea8">Em caso positivo, descreva o cargo e o tempo de desligamento:</label>
        <textarea
          class="form-control"
          id="textarea8"
          formControlName="textarea8"
          rows="3"
        ></textarea>
      </div>
    </div>
</form>
</div>

<!-- PERGUNTA 9 -->
<div class="container">
  <form [formGroup]="formulario">

    <div class="form-group">
        <label for="Quest9">9 - Algum sócio ou administrador, nos últimos 3 (três) anos foi funcionário público, político ou ocupante de cargo de confiança ou possui vínculo jurídico e/ou político?  </label>
       <div class="linha">
        <div class="form-check-inline">
          <input id="true" type="radio" value='1' name="Quest9"  formControlName="Quest9" (change)="changeQuiz9($event)"> Sim
       </div>

       <div class="form-check-inline">
          <input id="false" type="radio" value="0" name="Quest9" formControlName="Quest9" (change)="changeQuiz9($event)"> Não
       </div>
       </div>
       <div class="form-group" [hidden]="!caixa9">
        <label for="textarea9">Em caso positivo, descreva qual a função, o órgão público e local da atuação.</label>
        <textarea
          class="form-control"
          id="textarea9"
          formControlName="textarea9"
          rows="3"
        ></textarea>
      </div>
    </div>
</form>
</div>
<!-- PERGUNTA 10 -->
<div class="container">
  <form [formGroup]="formulario">

    <div class="form-group">
        <label for="Quest10">10 - Algum sócio ou administrador concorre a cargo público (seja por concurso ou político)?   </label>
       <div class="linha">
        <div class="form-check-inline">
          <input id="true" type="radio" value='1' name="Quest10"  formControlName="Quest10" (change)="changeQuiz10($event)"> Sim
       </div>

       <div class="form-check-inline">
          <input id="false" type="radio" value="0" name="Quest10" formControlName="Quest10" (change)="changeQuiz10($event)"> Não
       </div>
       </div>
       <div class="form-group" [hidden]="!caixa10">
        <label for="textarea10">Em caso positivo, qual a entidade ou cargo público que concorre?</label>
        <textarea
          class="form-control"
          id="textarea10"
          formControlName="textarea10"
          rows="3"
        ></textarea>
      </div>
    </div>
</form>
</div>

<!-- PERGUNTA 11 -->
<div class="container">
  <form [formGroup]="formulario">

    <div class="form-group">
        <label for="Quest11">11 - Algum sócio ou administrador é cônjuge ou vive em união estável, é neto(a), pai, mãe, filho(a), tio(a) ou sobrinho(a), de algum funcionário da MV? </label>
       <div class="linha">
        <div class="form-check-inline">
          <input id="true" type="radio" value='1' name="Quest11"  formControlName="Quest11" (change)="changeQuiz11($event)"> Sim
       </div>

       <div class="form-check-inline">
          <input id="false" type="radio" value="0" name="Quest11" formControlName="Quest11" (change)="changeQuiz11($event)"> Não
       </div>
       </div>
       <div class="form-group" [hidden]="!caixa11">
        <label for="textarea11">Em caso positivo, informe o grau de parentesco, a entidade e o local da prestação de serviços do parente.</label>
        <textarea
          class="form-control"
          id="textarea11"
          formControlName="textarea11"
          rows="3"
        ></textarea>
      </div>
    </div>
</form>
</div>

<!-- PERGUNTA 12 -->
<div class="container">
  <form [formGroup]="formulario">

    <div class="form-group">
        <label for="Quest12">12 - A empresa possui relação com outros países?  </label>
       <div class="linha">
        <div class="form-check-inline">
          <input id="true" type="radio" value='1' name="Quest12"  formControlName="Quest12" (change)="changeQuiz12($event)"> Sim
       </div>

       <div class="form-check-inline">
          <input id="false" type="radio" value="0" name="Quest12" formControlName="Quest12" (change)="changeQuiz12($event)"> Não
       </div>
       </div>
       <div class="form-group" [hidden]="!caixa12">
        <label for="textarea12">Se sim, qual(ais)?</label>
        <textarea
          class="form-control"
          id="textarea12"
          formControlName="textarea12"
          rows="3"
        ></textarea>
      </div>
    </div>
</form>
</div>

<!-- PERGUNTA 13 -->
<div class="container">
  <form [formGroup]="formulario">

    <div class="form-group">
        <label for="Quest13">13 - A empresa faz uso de intermediários para fechar negócios?   </label>
       <div class="linha">
        <div class="form-check-inline">
          <input id="true" type="radio" value='1' name="Quest13"  formControlName="Quest13" (change)="changeQuiz13($event)"> Sim
       </div>

       <div class="form-check-inline">
          <input id="false" type="radio" value="0" name="Quest13" formControlName="Quest13" (change)="changeQuiz13($event)"> Não
       </div>
       </div>
       <div class="form-group" [hidden]="!caixa13">
        <label for="textarea13">Se sim, especifique:</label>
        <textarea
          class="form-control"
          id="textarea13"
          formControlName="textarea13"
          rows="3"
        ></textarea>
      </div>
    </div>
</form>
</div>

<!-- PERGUNTA 14 -->
<div class="container">
  <form [formGroup]="formulario">

    <div class="form-group">
        <label for="Quest14">14 - A empresa realiza tratamento, nos termos da LGPD, de dados pessoais da MV? Responder as questões seguintes caso a resposta seja afirmativa. Caso a resposta seja negativa responder “NA” (Não aplicável).   </label>
       <div class="linha">
        <div class="form-check-inline">
          <input id="true" type="radio" value='1' name="Quest14"  formControlName="Quest14" (change)="changeQuiz($event)"> Sim
       </div>

       <div class="form-check-inline">
          <input id="false" type="radio" value="0" name="Quest14" formControlName="Quest14" (change)="changeQuiz($event)"> Não
       </div>
       </div>
    </div>
</form>
</div>

<!-- PERGUNTA 15 -->
<div class="container">
  <form [formGroup]="formulario">

    <div class="form-group">
        <label for="Quest15">15 - A empresa possui programa de LGPD? Mencionar abaixo se possui certificação relacionada a proteção de dados e/ou à segurança da informação.   </label>
       <div class="linha">
        <div class="form-check-inline">
          <input id="true" type="radio" value='1' name="Quest15"  formControlName="Quest15" (change)="changeQuiz15($event)"> Sim
       </div>

       <div class="form-check-inline">
          <input id="false" type="radio" value="0" name="Quest15" formControlName="Quest15" (change)="changeQuiz15($event)"> Não
       </div>
       </div>
       <div class="form-group" [hidden]="!caixa15">
        <label for="textarea15">Se possui certificação, especifique:</label>
        <textarea
          class="form-control"
          id="textarea15"
          formControlName="textarea15"
          rows="3"
        ></textarea>
      </div>
    </div>
</form>
</div>

<!-- PERGUNTA 16 -->

<div class="container">
  <form [formGroup]="formulario">

    <div class="form-group">
        <label for="Quest16">16 - A empresa possui um Encarregado de Proteção de Dados (DPO – Data Protection Officer) nomeado?   </label>
       <div class="linha">
        <div class="form-check-inline">
          <input id="true" type="radio" value='1' name="Quest16"  formControlName="Quest16" (change)="changeQuiz16($event)"> Sim
       </div>

       <div class="form-check-inline">
          <input id="false" type="radio" value="0" name="Quest16" formControlName="Quest16" (change)="changeQuiz16($event)"> Não
       </div>
       </div>
       <div class="form-group" [hidden]="!caixa16">
        <label for="textarea16">Se sim, indique o nome e dados para contato:</label>
        <textarea
          class="form-control"
          id="textarea16"
          formControlName="textarea16"
          rows="3"
        ></textarea>
      </div>
    </div>
</form>
</div>

<!-- PERGUNTA 17 -->
<div class="container">
  <form [formGroup]="formulario">

    <div class="form-group">
        <label for="Quest17">17 - A empresa encontra-se apta a atender os direitos dos titulares de dados pessoais e a fornecer os relatórios necessários para avaliação de impacto em caso de incidentes com dados pessoais? </label>
       <div class="linha">
        <div class="form-check-inline">
          <input id="true" type="radio" value='1' name="Quest17"  formControlName="Quest17" (change)="changeQuiz($event)"> Sim
       </div>

       <div class="form-check-inline">
          <input id="false" type="radio" value="0" name="Quest17" formControlName="Quest17" (change)="changeQuiz($event)"> Não
       </div>
       </div>
    </div>
</form>
</div>

<!-- PERGUNTA 18 -->
<div class="container">
  <form [formGroup]="formulario">

    <div class="form-group">
        <label for="Quest18">18 - Os colaboradores recebem treinamento e capacitação contínua sobre a importância da proteção de dados pessoais? </label>
       <div class="linha">
        <div class="form-check-inline">
          <input id="true" type="radio" value='1' name="Quest18"  formControlName="Quest18" (change)="changeQuiz($event)"> Sim
       </div>

       <div class="form-check-inline">
          <input id="false" type="radio" value="0" name="Quest18" formControlName="Quest18" (change)="changeQuiz($event)"> Não
       </div>
       </div>
    </div>
</form>
</div>

<!-- PERGUNTA 19 -->
<div class="container">
  <form [formGroup]="formulario">

    <div class="form-group">
        <label for="Quest19">19 - Descreva as técnicas de segurança adotadas para preservar a confidencialidade, a integridade e a disponibilidade dos dados pessoais (exemplo: uso de antivírus, firewall, criptografia, etc.) </label>
       <div class="linha">
        <div class="form-check-inline">
          <input id="true" type="radio" value='1' name="Quest19"  formControlName="Quest19" (change)="changeQuiz19($event)"> Sim
       </div>

       <div class="form-check-inline">
          <input id="false" type="radio" value="0" name="Quest19" formControlName="Quest19" (change)="changeQuiz19($event)"> Não
       </div>
       </div>
       <div class="form-group" [hidden]="!caixa19">
        <label for="textarea19">Se sim, especifique:</label>
        <textarea
          class="form-control"
          id="textarea19"
          formControlName="textarea19"
          rows="3"
        ></textarea>
      </div>
    </div>
</form>
</div>

<!-- PERGUNTA 20 -->
<div class="container">
  <form [formGroup]="formulario">

    <div class="form-group">
        <label for="Quest20">20 - Todas as transferências e compartilhamentos de dados pessoais realizados pela empresa estão devidamente identificados e ocorrem de acordo com a forma prevista em lei?</label>
       <div class="linha">
        <div class="form-check-inline">
          <input id="true" type="radio" value='1' name="Quest20"  formControlName="Quest20" (change)="changeQuiz($event)"> Sim
       </div>

       <div class="form-check-inline">
          <input id="false" type="radio" value="0" name="Quest20" formControlName="Quest20" (change)="changeQuiz($event)"> Não
       </div>
       </div>
    </div>
</form>
</div>


  <!-- RODAPÉ -->
  <!-- <div class="flex-box" id="centro">
  </div>
  <div>
    <div class="text-justify form-group">
      <h6>
        <div class="linha font"> Em nome de
          <input
          type="text"
          cols="40"
          rows="5"
          placeholder="Digite a Razão Social"
          style="width: 400px; height: 25px"
          formControlName="razSoc3"
          id="razSoc3"
          [ngClass]="{ 'is-invalid': f.razSoc3.errors && f.razSoc3.touched }"
        /> <label for="control-label">(empresa credenciada), DECLARO, sob as penas da lei:</label>

            <div *ngIf="f.razSoc3.errors?.required" class="invalid-feedback">
              A razão social é obrigatória
            </div>
         </div>


      </h6>


      <div class="d-flex">
        1. Que todas as informações prestadas neste documento e anexos são
        verdadeiras e corretas;
      </div>
      <div class="d-flex">
        2. Sempre que envolvermos subcontratações, realizaremos uma comunicação
        através de e-mail, para que a MV possa aprovar tal “quarteirização”.
      </div>
      <div class="d-flex">3. (cláusula LGPD)</div>
    </div>

  </div> -->
  <div class="flex-box" id="centro">
    <h4>Assinatura Representante</h4>
  </div>

  <div class="d-flex">
    <div class="form-group col-md-4">
      <label class="control-label" for="data">Data</label>
      <input
        id="data2"
        class="form-control"
        [ngClass]="{ 'is-invalid': f.data2.errors && f.data2.touched }"
        type="date"
        formControlName="data2"
      />
      <div *ngIf="f.data2.errors?.required" class="invalid-feedback">
        A data de cadastro é obrigatória
      </div>
    </div>

    <div class="form-group col-md-8">
      <label for="nomeLeg">Nome do representante legal</label>
      <input
        type="text"
        class="form-control"
        [ngClass]="{ 'is-invalid': f.nomeLeg.errors && f.nomeLeg.touched }"
        formControlName="nomeLeg"
        id="nomeLeg"
        placeholder="Digite o nome do representante legal"
      />
      <div *ngIf="f.nomeLeg.errors?.required" class="invalid-feedback">
        O nome do representante legal é obrigatório.
      </div>
    </div>
  </div>

 <div class="d-flex">
  <div class="form-group col-md-4">
    <label for="rgRep" class="control-label">RG</label>
    <input
      type="text"
      class="form-control"
      [ngClass]="{ 'is-invalid': f.rgRep.errors && f.rgRep.touched }"
      formControlName="rgRep"
      id="rgRep"
      placeholder="Digite o RG do representante legal"
    />
    <div *ngIf="f.rgRep.errors?.required" class="invalid-feedback">
      O RG do representante legal é obrigatório.
    </div>
  </div>

  <div class="col-md-8">
    <label for="cargoRep" class="control-label">Cargo</label>
    <input
      type="text"
      class="form-control"
      [ngClass]="{ 'is-invalid': f.cargoRep.errors && f.cargoRep.touched }"
      formControlName="cargoRep"
      id="cargoRep"
      placeholder="Digite o cargo do representante legal"
    />
    <div *ngIf="f.cargoRep.errors?.required" class="invalid-feedback">
      O cargo do representante legal é obrigatório.
    </div>
  </div>
 </div>


  <!-- BOTÕES -->

  <div class="flex-box">
    <button type="button" class="btn-danger" (click)="resetar()">
      <i class="fa fa-times-circle" aria-hidden="true"></i>
      Limpar
    </button>

    <button
      type="submit"
      class="btn-success"
      (click)="postar()">
      <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
      Gerar PDF
    </button>

  </div>

</form>
</div>
<!-- [disabled]="!formulario.valid" -->

