<div class="borda">

  <div>
    <button (click)="downloadPDF(1);">PDF</button>
  </div>


<app-form-debug [form]="formulario"></app-form-debug>

<form class="form-horizontal font" [formGroup]="formulario">


<div class="flex-box" id="centro">
  <h4>Dados necessários para o cadastramento de Fornecedores Nacional</h4>
</div>


<div class="d-flex">
  <div class="col-md-4">
    <label for="Cnpj" class="control-label">CNPJ</label>
    <input
      type="text"
      class="form-control"
      formControlName="Cnpj"
      (blur)="consultaCNPJ()"
      id="Cnpj"
      maxlength="18"
      mask="00.000.000/0000-00"
      [ngClass]="{ 'is-invalid': f.Cnpj.errors && f.Cnpj.touched }"
      placeholder="00.000.000/0000-00"
    />
    <div *ngIf="f.Cnpj.errors?.required" class="invalid-feedback">
      O CNPJ é obrigatório
    </div>
  </div>

    <div class="col-md-8">
      <div><label for="CorporateName">Razão Social</label></div>
      <div>
        <input
          type="text"
          class="form-control"
          [ngClass]="{ 'is-invalid': f.CorporateName.errors && f.CorporateName.touched }"
          formControlName="CorporateName"
          id="CorporateName"
          placeholder="Digite a Razão Social"
        />
        <div *ngIf="f.CorporateName.errors?.required" class="invalid-feedback">
          A razão social é obrigatória
        </div>
      </div>
    </div>

  </div>

  <div class="d-flex">
    <div class="col-md-4">
      <div><label for="control-label">Número de Funcionários</label></div>

      <input
  type="text"
  placeholder="Digite o número de funcionários"
  class="form-control"
  formControlName="NumberEmployees"
  id="NumberEmployees"
  [ngClass]="{ 'is-invalid': f.NumberEmployees.errors && f.NumberEmployees.touched }"
  />
  <div *ngIf="f.NumberEmployees.errors?.required" class="invalid-feedback">
    O número de funcionários é obrigatório
  </div>
    </div>

    <div class="col-md-4">
      <label for="StateRegistration" class="control-label">Inscrição Estadual</label>
      <input
      type="text"
        class="form-control"
        placeholder="Digite a Inscrição Estadual"
        [ngClass]="{ 'is-invalid': f.StateRegistration.errors && f.StateRegistration.touched }"
        formControlName="StateRegistration"
        id="StateRegistration"
      />
      <div *ngIf="f.StateRegistration.errors?.required" class="invalid-feedback">
        A Inscrição Estadual é obrigatória.
      </div>
    </div>

    <div class="col-md-4">
      <label for="MunicipalRegistration" class="control-label">Inscrição Municipal</label>
      <input
      type="text"
        class="form-control"
        placeholder="Digite a Inscrição Municipal"
        [ngClass]="{ 'is-invalid': f.MunicipalRegistration.errors && f.MunicipalRegistration.touched }"
        formControlName="MunicipalRegistration"
        id="MunicipalRegistration"
      />
      <div *ngIf="f.MunicipalRegistration.errors?.required" class="invalid-feedback">
        A Inscrição Municipal é obrigatória
      </div>
    </div>
  </div>

    <div class="d-flex">
    <div class="col-md-4 form-group">
      <div><label for="PrimaryPhone">Telefone de Contato (principal)</label></div>

      <input
        type="text"
        class="form-control"
        [ngClass]="{ 'is-invalid': f.PrimaryPhone.errors && f.PrimaryPhone.touched }"
        formControlName="PrimaryPhone"
        id="PrimaryPhone"
        maxlength="18"
        mask="(00) 0000-0000"
        placeholder="(00) 0000-0000"
      />
      <div *ngIf="f.PrimaryPhone.errors?.required" class="invalid-feedback">
        O telefone é obrigatório
      </div>
    </div>

    <div class="col-md-4">
      <div><label for="SecondaryPhone">Telefone de Contato (secundário)</label></div>

      <input
        type="text"
        class="form-control"
        [ngClass]="{ 'is-invalid': f.SecondaryPhone.errors && f.SecondaryPhone.touched }"
        formControlName="SecondaryPhone"
        id="SecondaryPhone"
        mask="(00) 0000-0000"
        placeholder="(00) 0000-0000"
      />
      <div *ngIf="f.SecondaryPhone.errors?.required" class="invalid-feedback">
        O telefone é obrigatório
      </div>
    </div>

    <div class="col-md-4">
      <div><label for="Email">Email</label></div>

      <input
        type="text"
        class="form-control"
        [ngClass]="{ 'is-invalid': f.Email.errors && f.Email.touched }"
        formControlName="Email"
        id="Email"
        placeholder="nome@email.com"
      />
      <div *ngIf="f.Email.errors?.required" class="invalid-feedback">
        O Email é obrigatório.
      </div>
    </div>
  </div>

  <!-- CADASTRO DOS SÓCIOS -->
  <div class="flex-box" id="centro">
    <h4>Cadastro de Sócios</h4>
  </div>
<div class="form-group">
<div class="d-flex">
    <div class="col-md-6 form-group">
      <div><label for="NamePartner" class="control-label">Nome do Sócio</label></div>

      <input
      type="text"
      class="form-control"
      [ngClass]="{ 'is-invalid': f.NamePartner.errors && f.NamePartner.touched }"
      formControlName="NamePartner"
      id="NamePartner"
      placeholder="Nome do sócio"
      />
      <div *ngIf="f.NamePartner.errors?.required" class="invalid-feedback">
        O sócio é obrigatório
      </div>
    </div>

    <div class="col-md-6 form-group">
      <div><label for="OccupationPartner" class="control-label">Cargo</label></div>

      <input
    type="text"
    placeholder="Cargo do sócio"
    class="form-control"
    formControlName="OccupationPartner"
    id="OccupationPartner"
    [ngClass]="{ 'is-invalid': f.OccupationPartner.errors && f.OccupationPartner.touched }"
    />
    <div *ngIf="f.OccupationPartner.errors?.required" class="invalid-feedback">
      O cargo é obrigatório
    </div>
    </div>

  </div>


  <div class="d-flex">
    <div class="col-md-4 form-group">
      <div><label for="CpfPartner" class="control-label">CPF/MF</label></div>

      <input
      type="text"
      placeholder="Digite o CPF/MF"
      class="form-control"
      mask="000.000.000-00"
      formControlName="CpfPartner"
      id="CpfPartner"
      [ngClass]="{ 'is-invalid': f.CpfPartner.errors && f.CpfPartner.touched }"
      />
      <div *ngIf="f.CpfPartner.errors?.required" class="invalid-feedback">
        O CPF/MF é obrigatório
      </div>
    </div>
    <div class="col-md-4 form-group">
        <div><label for="RgPartner" class="control-label">RG</label></div>

        <input
    type="text"
    placeholder="Digite o RG"
    class="form-control"
    formControlName="RgPartner"
    id="RgPartner"
    [ngClass]="{ 'is-invalid': f.RgPartner.errors && f.RgPartner.touched }"
    />
    <div *ngIf="f.RgPartner.errors?.required" class="invalid-feedback">
      O RG é obrigatório
    </div>
      </div>

      <div class="col-md-4 form-group">
        <div><label for="ParticipationPercentage" class="control-label">% de participação na empresa</label></div>

        <input
    type="text"
    placeholder="Digite o % de participação na empresa"
    class="form-control"
    formControlName="ParticipationPercentage"
    id="ParticipationPercentage"
    [ngClass]="{ 'is-invalid': f.ParticipationPercentage.errors && f.ParticipationPercentage.touched }"
    />
    <div *ngIf="f.ParticipationPercentage.errors?.required" class="invalid-feedback">
      O % de participação na empresa é obrigatório
    </div>
      </div>
  </div>

  <div class="d-flex">
    <div class="col-md-8 form-group">
      <label for="AdressPartner" class="control-label">Endereço Completo Sócio</label>
      <input
        type="text"
        class="form-control"
        placeholder="Digite o endereço completo"
        [ngClass]="{ 'is-invalid': f.AdressPartner.errors && f.AdressPartner.touched }"
        formControlName="AdressPartner"
        id="AdressPartner"
      />
      <div *ngIf="f.AdressPartner.errors?.required" class="invalid-feedback">
        O campo Endereço é obrigatório.
      </div>
    </div>

    <div class="col-md-4 form-group">
      <label for="CepPartner" class="control-label">CEP</label>
      <input
        type="text"
        class="form-control"
        placeholder="Digite o CEP"
        [ngClass]="{
          'is-invalid': f.CepPartner.errors && f.CepPartner.touched
        }"
        formControlName="CepPartner"
        id="CepPartner"
      />
      <div *ngIf="f.CepPartner.errors?.required" class="invalid-feedback">
        O campo CEP é obrigatório.
      </div>
    </div>
  </div>
</div>

<div class="flex-box">
  <button
  type="submit"
  class="btn-success"
 (click)="cadSocio()">
  Adicionar Sócio
</button>
</div>



  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nome do Sócio</th>
        <th scope="col">Cargo do Sócio</th>
        <th scope="col">CPF/MF</th>
        <th scope="col">RG</th>
        <th scope="col">% de Participação na Empresa</th>
        <th scope="col">Endereço</th>
        <th scope="col">CEP</th>
        <th></th>
      </tr>
    </thead>

      <tr *ngFor="let partner of partnerget">
        <td>{{partner.NamePartner}}</td>
        <td>{{partner.OccupationPartner}}</td>
        <td>{{partner.CpfPartner}}</td>
        <td>{{partner.RgPartner}}</td>
        <td>{{partner.ParticipationPercentage}}</td>
        <td>{{partner.AdressPartner}}</td>
        <td>{{partner.CepPartner}}</td>
        <td><button title="Remover" (click)="removerSocio(partner)" class="btn btn-danger">
          <i class="fa fa-trash" aria-hidden="true"></i>
       </button></td>
  </table>


  <div class="flex-box" id="centro">
    <h4>Contato financeiro</h4>
  </div>

  <div class="d-flex">
    <div class="col-md-6 form-group">
      <label for="FinancialContact">Nome do Contato financeiro</label>
      <input
        type="text"
        class="form-control"
        [ngClass]="{ 'is-invalid': f.FinancialContact.errors && f.FinancialContact.touched }"
        formControlName="FinancialContact"
        id="FinancialContact"
        placeholder="Digite o nome do Contato financeiro"
      />
      <div *ngIf="f.FinancialContact.errors?.required" class="invalid-feedback">
        O nome do contato financeiro é obrigatório.
      </div>
    </div>

    <div class="col-md-6">
      <label for="Occupation" class="control-label">Cargo</label>
      <input
        type="text"
        class="form-control"
        [ngClass]="{ 'is-invalid': f.Occupation.errors && f.Occupation.touched }"
        formControlName="Occupation"
        id="Occupation"
        placeholder="Digite o cargo"
      />
      <div *ngIf="f.Occupation.errors?.required" class="invalid-feedback">
        O cargo é obrigatório.
      </div>
    </div>
  </div>

  <div class="d-flex">
    <div class="col-md-4">
      <div><label for="FinancialPhone">Telefone</label></div>

      <input
        type="text"
        class="form-control"
        [ngClass]="{ 'is-invalid': f.FinancialPhone.errors && f.FinancialPhone.touched }"
        formControlName="FinancialPhone"
        id="FinancialPhone"
        mask="(00) 0000-0000"
        placeholder="(00) 0000-0000"
      />
      <div *ngIf="f.FinancialPhone.errors?.required" class="invalid-feedback">
        O telefone é obrigatório.
      </div>
    </div>

    <div class="col-md-4">
      <div><label for="FinancialEmail">Email</label></div>
      <input
        type="text"
        class="form-control"
        [ngClass]="{ 'is-invalid': f.FinancialEmail.errors && f.FinancialEmail.touched }"
        formControlName="FinancialEmail"
        id="FinancialEmail"
        placeholder="nome@email.com"
      />
      <div *ngIf="f.FinancialEmail.errors?.required" class="invalid-feedback">
        O Email é obrigatório.
      </div>
    </div>

    <div class="col-md-4">
      <div><label for="MvContact">Contato na MV</label></div>

      <input
        type="text"
        class="form-control"
        [ngClass]="{ 'is-invalid': f.MvContact.errors && f.MvContact.touched }"
        formControlName="MvContact"
        id="MvContact"
        placeholder="Digite o nome do seu Contato na MV"
      />
      <div *ngIf="f.MvContact.errors?.required" class="invalid-feedback">
        O contato MV é obrigatório.
      </div>
    </div>
  </div>
  <br />

  <div class="flex-box" id="centro">
    <h4>Endereço completo</h4>
  </div>

  <div>
    <div class="form-group">
      <div class="d-flex">
        <div class="col-md-4 form-group">
          <label for="cep" class="control-label">CEP</label>
          <input
            type="text"
            class="form-control"
            [ngClass]="{ 'is-invalid': f.cep.errors && f.cep.touched }"
            formControlName="cep"
            mask="00000-000"
            id="cep"
            placeholder="00000-000"
            (blur)="consultaCEP()"
          />
          <div *ngIf="f.cep.errors?.required" class="invalid-feedback">
            O campo CEP é obrigatório.
          </div>
        </div>



          <div class="col-md-6">
            <label for="Street" class="control-label">Rua</label>
            <input
              type="text"
              class="form-control"
              [ngClass]="{ 'is-invalid': f.Street.errors && f.Street.touched }"
              formControlName="Street"
              id="Street"
              placeholder="Digite o nome da Rua"
            />
            <div *ngIf="f.Street.errors?.required" class="invalid-feedback">
              O campo Rua é obrigatório.
            </div>
          </div>


        <div class="col-md-2">
          <label for="AddressNumber" class="control-label">Número</label>
          <input
            type="number"
            class="form-control"
            placeholder="Digite o número"
            [ngClass]="{ 'is-invalid': f.AddressNumber.errors && f.AddressNumber.touched }"
            formControlName="AddressNumber"
            id="AddressNumber"
          />
          <div *ngIf="f.AddressNumber.errors?.required" class="invalid-feedback">
            O campo número é obrigatório.
          </div>
        </div>

      </div>

      <div class="d-flex">
        <div class="col-md-5 form-group">
          <label for="District" class="control-label">Bairro</label>
          <input
            type="text"
            class="form-control"
            placeholder="Digite o bairro"
            [ngClass]="{ 'is-invalid': f.District.errors && f.District.touched }"
            formControlName="District"
            id="District"
          />
          <div *ngIf="f.District.errors?.required" class="invalid-feedback">
            O campo Bairro é obrigatório.
          </div>
        </div>

        <div class="col-md-4">
          <label for="City" class="control-label">Cidade</label>
          <input
            type="text"
            class="form-control"
            placeholder="Digite a cidade"
            [ngClass]="{ 'is-invalid': f.City.errors && f.City.touched }"
            formControlName="City"
            id="City"
          />
          <div *ngIf="f.City.errors?.required" class="invalid-feedback">
            O campo Cidade é obrigatório.
          </div>
        </div>

        <div class="col-md-3">
          <label for="State" class="control-label">Estado</label>
          <input
            type="text"
            class="form-control"
            placeholder="Digite o estado"
            [ngClass]="{ 'is-invalid': f.State.errors && f.State.touched }"
            formControlName="State"
            id="State"
          />
          <div *ngIf="f.State.errors?.required" class="invalid-feedback">
            O campo Estado é obrigatório.
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <label for="Complement" class="control-label">Complemento</label>
        <input
          type="text"
          class="form-control"
          placeholder="Digite o complemento"
          formControlName="Complement"
          id="Complement"
        />
      </div>
    </div>

  </div>

  <div class="flex-box" id="centro">
    <h4>Dados Bancários</h4>
  </div>
  <div class="d-flex">
    <div class="col-md-4">
      <label for="Account" class="control-label">Conta</label>
      <input
      type="text"
        class="form-control"
        placeholder="Digite o número da conta"
        [ngClass]="{ 'is-invalid': f.Account.errors && f.Account.touched }"
        formControlName="Account"
        id="Account"
      />
      <div *ngIf="f.Account.errors?.required" class="invalid-feedback">
        O campo Conta é obrigatório.
      </div>
    </div>

    <div class="col-md-4 form-group">
      <label for="Agency" class="control-label">Agência</label>
      <input
      type="text"
        class="form-control"
        placeholder="Digite a agência"
        [ngClass]="{ 'is-invalid': f.Agency.errors && f.Agency.touched }"
        formControlName="Agency"
        id="Agency"
      />
      <div *ngIf="f.Agency.errors?.required" class="invalid-feedback">
        O campo Agência é obrigatório.
      </div>
    </div>

    <div class="col-md-4">
      <label for="Operation" class="control-label">Operação</label>
      <input
      type="text"
        class="form-control"
        placeholder="Digite o código da operação"
        [ngClass]="{ 'is-invalid': f.Operation.errors && f.Operation.touched }"
        formControlName="Operation"
        id="Operation"
      />
      <div *ngIf="f.Operation.errors?.required" class="invalid-feedback">
        O campo Operação é obrigatório.
      </div>
    </div>
  </div>
  <div class="d-flex">
    <div class="col-md-6 form-group">
      <label for="Bank" class="control-label">Banco</label>
      <input
        type="text"
        class="form-control"
        placeholder="Digite o codigo e nome do banco"
        [ngClass]="{ 'is-invalid': f.Bank.errors && f.Bank.touched }"
        formControlName="Bank"
        id="Bank"
      />
      <div *ngIf="f.Bank.errors?.required" class="invalid-feedback">
        O campo Banco é obrigatório.
      </div>
    </div>

    <div class="col-md-6">
      <label for="Favored" class="control-label">Favorecido</label>
      <input
        type="text"
        class="form-control"
        placeholder="Digite o nome do favorecido"
        [ngClass]="{
          'is-invalid': f.Favored.errors && f.Favored.touched
        }"
        formControlName="Favored"
        id="Favored"
      />
      <div *ngIf="f.Favored.errors?.required" class="invalid-feedback">
        O campo Favorecido é obrigatório.
      </div>
    </div>
  </div>

<!-- UPLOAD ARQUIVO -->

  <!-- <div class="flex-box">
    <h4>Documentos Exigidos (anexar)</h4>
  </div>
  <div class="flex-box">
    1. Cópia da procuração quando a empresa for representada por não sócio
    administrador;
  </div>
  <div class="flex-box">
    2. Cópia do contrato social juntamente com a última alteração
  </div>
  <div class="flex-box"><input type="file" /></div>
  <br /> -->

  <!-- QUESTIONÁRIO -->

  <div class="flex-box" id="centro">
    <h4>Questionário</h4>
  </div>

<!-- PERGUNTA 1 -->
  <div class="Accountiner">
    <form [formGroup]="formulario">

      <div class="form-group">
          <label for="TechnicalAbilityToPerform">1 - Possui capacidade técnica para execução integral dos serviços contratados?</label>
         <div class="linha">
          <div class="form-check-inline">
            <input id="true" type="radio" value="1" name="TechnicalAbilityToPerform"  formControlName="TechnicalAbilityToPerform" (change)="changeQuiz($event)"> Sim
         </div>

         <div class="form-check-inline">
            <input id="false" type="radio" value="0" name="TechnicalAbilityToPerform" formControlName="TechnicalAbilityToPerform" (change)="changeQuiz($event)"> Não
         </div>
         </div>
      </div>
  </form>
</div>

<!-- PERGUNTA 2 -->
<div class="Accountiner">

  <form [formGroup]="formulario">

    <div class="form-group">
        <label for="CompanyHaveAnIntegrityOrComplianceProgram">2 - A empresa possui programa de integridade ou Compliance?</label>
       <div class="linha">
        <div class="form-check-inline">
          <input id="true" type="radio" value='1' name="CompanyHaveAnIntegrityOrComplianceProgram"  formControlName="CompanyHaveAnIntegrityOrComplianceProgram" (change)="changeQuiz($event)"> Sim
       </div>

       <div class="form-check-inline">
          <input id="false" type="radio" value="0" name="CompanyHaveAnIntegrityOrComplianceProgram" formControlName="CompanyHaveAnIntegrityOrComplianceProgram" (change)="changeQuiz($event)"> Não
       </div>
       </div>
    </div>
</form>
</div>

<!-- PERGUNTA 3 -->
<div class="Accountiner">

  <form [formGroup]="formulario">

    <div class="form-group">
        <label for="InvolvementInInvestigationsFraudCorruption">3 - A empresa possui histórico de envolvimento em investigações em casos
          de fraude, corrupção ou lavagem de dinheiro?</label>
       <div class="linha">
        <div class="form-check-inline">
          <input id="true" type="radio" value='1' name="InvolvementInInvestigationsFraudCorruption"  formControlName="InvolvementInInvestigationsFraudCorruption" (change)="changeQuiz($event)"> Sim
       </div>

       <div class="form-check-inline">
          <input id="false" type="radio" value="0" name="InvolvementInInvestigationsFraudCorruption" formControlName="InvolvementInInvestigationsFraudCorruption" (change)="changeQuiz($event)"> Não
       </div>
       </div>
    </div>
</form>
</div>

<!-- PERGUNTA 4 -->
<div class="Accountiner">

  <form [formGroup]="formulario">

    <div class="form-group">
        <label for="TheCompanyBeenPartOfCEISAndCNEP">4 - A empresa está listada ou se já fez parte do Cadastro Nacional de
          Empresas Inidôneas e Suspensas (CEIS) e no Cadastro Nacional das Empresas
          Punidas (CNEP).</label>
       <div class="linha">
        <div class="form-check-inline">
          <input id="true" type="radio" value='1' name="TheCompanyBeenPartOfCEISAndCNEP"  formControlName="TheCompanyBeenPartOfCEISAndCNEP" (change)="changeQuiz($event)"> Sim
       </div>

       <div class="form-check-inline">
          <input id="false" type="radio" value="0" name="TheCompanyBeenPartOfCEISAndCNEP" formControlName="TheCompanyBeenPartOfCEISAndCNEP" (change)="changeQuiz($event)"> Não
       </div>
       </div>
    </div>
</form>
</div>

<!-- PERGUNTA 5 -->
<div class="Accountiner">
  <form [formGroup]="formulario">

    <div class="form-group">
        <label for="ClientsInWhichItProvidedSimilarServices_TextArea5">5 - Informe o nome de outros clientes nos quais prestou serviços similares:</label>
       <div class="linha">

       </div>
       <div class="form-group">
        <textarea
          class="form-control"
          id="ClientsInWhichItProvidedSimilarServices_TextArea5"
          formControlName="ClientsInWhichItProvidedSimilarServices_TextArea5"
          rows="3"
        ></textarea>
      </div>
    </div>
</form>
</div>

<!-- PERGUNTA 6 -->
<div class="Accountiner">
  <form [formGroup]="formulario">

    <div class="form-group">
        <label for="DescribeTheActivitiesOfYourCompanyCNAEs_TextArea6">6 - Descreva as atividades de sua empresa CNAEs</label>
       <div class="linha">

       </div>
       <div class="form-group">
        <textarea
          class="form-control"
          id="DescribeTheActivitiesOfYourCompanyCNAEs_TextArea6"
          formControlName="DescribeTheActivitiesOfYourCompanyCNAEs_TextArea6"
          rows="3"
        ></textarea>
      </div>
    </div>
</form>
</div>



<!-- PERGUNTA 7 -->
  <div class="Accountiner">
    <form [formGroup]="formulario">

      <div class="form-group">
          <label for="EmploymentRelationshipWithMV">7 - Algum sócio e/ou administrador possui vínculo empregatício com a MV?</label>
         <div class="linha">
          <div class="form-check-inline">
            <input id="true" type="radio" value='1' name="EmploymentRelationshipWithMV"  formControlName="EmploymentRelationshipWithMV" (change)="changeQuiz7($event)"> Sim
         </div>

         <div class="form-check-inline">
            <input id="false" type="radio" value="0" name="EmploymentRelationshipWithMV" formControlName="EmploymentRelationshipWithMV" (change)="changeQuiz7($event)"> Não
         </div>
         </div>
         <div class="form-group" [hidden]="!box7">
          <label for="EmploymentRelationshipWithMV_TextArea7"
            >Em caso positivo, descreva o cargo e local da prestação de
            serviços:</label
          >
          <textarea
            class="form-control"
            id="EmploymentRelationshipWithMV_TextArea7"
            formControlName="EmploymentRelationshipWithMV_TextArea7"
            rows="3"
          ></textarea>
        </div>
      </div>
  </form>
</div>

<!-- PERGUNTA 8 -->

<div class="Accountiner">
  <form [formGroup]="formulario">

    <div class="form-group">
        <label for="EmployeeServicesHaveAnEmploymentRelationshipWithMv">8 - O funcionário que vai prestar serviço a MV já possuiu vínculo empregatício com a MV? </label>
       <div class="linha">
        <div class="form-check-inline">
          <input id="true" type="radio" value='1' name="EmployeeServicesHaveAnEmploymentRelationshipWithMv"  formControlName="EmployeeServicesHaveAnEmploymentRelationshipWithMv" (change)="changeQuiz8($event)"> Sim
       </div>

       <div class="form-check-inline">
          <input id="false" type="radio" value="0" name="EmployeeServicesHaveAnEmploymentRelationshipWithMv" formControlName="EmployeeServicesHaveAnEmploymentRelationshipWithMv" (change)="changeQuiz8($event)"> Não
       </div>
       </div>
       <div class="form-group" [hidden]="!box8">
        <label for="EmployeeServicesHaveAnEmploymentRelationshipWithMv_TextArea8">Em caso positivo, descreva o cargo e o tempo de desligamento:</label>
        <textarea
          class="form-control"
          id="EmployeeServicesHaveAnEmploymentRelationshipWithMv_TextArea8"
          formControlName="EmployeeServicesHaveAnEmploymentRelationshipWithMv_TextArea8"
          rows="3"
        ></textarea>
      </div>
    </div>
</form>
</div>

<!-- PERGUNTA 9 -->
<div class="Accountiner">
  <form [formGroup]="formulario">

    <div class="form-group">
        <label for="AnyPartnerInTheLast3YearsHaveYouBeenPublicServant">9 - Algum sócio ou administrador, nos últimos 3 (três) anos foi funcionário público, político ou ocupante de cargo de confiança ou possui vínculo jurídico e/ou político?  </label>
       <div class="linha">
        <div class="form-check-inline">
          <input id="true" type="radio" value='1' name="AnyPartnerInTheLast3YearsHaveYouBeenPublicServant"  formControlName="AnyPartnerInTheLast3YearsHaveYouBeenPublicServant" (change)="changeQuiz9($event)"> Sim
       </div>

       <div class="form-check-inline">
          <input id="false" type="radio" value="0" name="AnyPartnerInTheLast3YearsHaveYouBeenPublicServant" formControlName="AnyPartnerInTheLast3YearsHaveYouBeenPublicServant" (change)="changeQuiz9($event)"> Não
       </div>
       </div>
       <div class="form-group" [hidden]="!box9">
        <label for="AnyPartnerInTheLast3YearsHaveYouBeenPublicServant_TextArea9">Em caso positivo, descreva qual a função, o órgão público e local da atuação.</label>
        <textarea
          class="form-control"
          id="AnyPartnerInTheLast3YearsHaveYouBeenPublicServant_TextArea9"
          formControlName="AnyPartnerInTheLast3YearsHaveYouBeenPublicServant_TextArea9"
          rows="3"
        ></textarea>
      </div>
    </div>
</form>
</div>
<!-- PERGUNTA 10 -->
<div class="Accountiner">
  <form [formGroup]="formulario">

    <div class="form-group">
        <label for="AnyPartnerOrAdministratorRunningForPublicOffice">10 - Algum sócio ou administrador concorre a cargo público (seja por concurso ou político)?   </label>
       <div class="linha">
        <div class="form-check-inline">
          <input id="true" type="radio" value='1' name="AnyPartnerOrAdministratorRunningForPublicOffice"  formControlName="AnyPartnerOrAdministratorRunningForPublicOffice" (change)="changeQuiz10($event)"> Sim
       </div>

       <div class="form-check-inline">
          <input id="false" type="radio" value="0" name="AnyPartnerOrAdministratorRunningForPublicOffice" formControlName="AnyPartnerOrAdministratorRunningForPublicOffice" (change)="changeQuiz10($event)"> Não
       </div>
       </div>
       <div class="form-group" [hidden]="!box10">
        <label for="AnyPartnerOrAdministratorRunningForPublicOffice_TextArea10">Em caso positivo, qual a entidade ou cargo público que concorre?</label>
        <textarea
          class="form-control"
          id="AnyPartnerOrAdministratorRunningForPublicOffice_TextArea10"
          formControlName="AnyPartnerOrAdministratorRunningForPublicOffice_TextArea10"
          rows="3"
        ></textarea>
      </div>
    </div>
</form>
</div>

<!-- PERGUNTA 11 -->
<div class="Accountiner">
  <form [formGroup]="formulario">

    <div class="form-group">
        <label for="AnyPartnerIsSpouseOrLivesInAStableUnionFromSomeMvEmployee">11 - Algum sócio ou administrador é cônjuge ou vive em união estável, é neto(a), pai, mãe, filho(a), tio(a) ou sobrinho(a), de algum funcionário da MV? </label>
       <div class="linha">
        <div class="form-check-inline">
          <input id="true" type="radio" value='1' name="AnyPartnerIsSpouseOrLivesInAStableUnionFromSomeMvEmployee"  formControlName="AnyPartnerIsSpouseOrLivesInAStableUnionFromSomeMvEmployee" (change)="changeQuiz11($event)"> Sim
       </div>

       <div class="form-check-inline">
          <input id="false" type="radio" value="0" name="AnyPartnerIsSpouseOrLivesInAStableUnionFromSomeMvEmployee" formControlName="AnyPartnerIsSpouseOrLivesInAStableUnionFromSomeMvEmployee" (change)="changeQuiz11($event)"> Não
       </div>
       </div>
       <div class="form-group" [hidden]="!box11">
        <label for="AnyPartnerIsSpouseOrLivesInAStableUnionFromSomeMvEmployee_TextArea11">Em caso positivo, informe o grau de parentesco, a entidade e o local da prestação de serviços do parente.</label>
        <textarea
          class="form-control"
          id="AnyPartnerIsSpouseOrLivesInAStableUnionFromSomeMvEmployee_TextArea11"
          formControlName="AnyPartnerIsSpouseOrLivesInAStableUnionFromSomeMvEmployee_TextArea11"
          rows="3"
        ></textarea>
      </div>
    </div>
</form>
</div>

<!-- PERGUNTA 12 -->
<div class="Accountiner">
  <form [formGroup]="formulario">

    <div class="form-group">
        <label for="TheCompanyHasRelationsWithOtherCountries">12 - A empresa possui relação com outros países?  </label>
       <div class="linha">
        <div class="form-check-inline">
          <input id="true" type="radio" value='1' name="TheCompanyHasRelationsWithOtherCountries"  formControlName="TheCompanyHasRelationsWithOtherCountries" (change)="changeQuiz12($event)"> Sim
       </div>

       <div class="form-check-inline">
          <input id="false" type="radio" value="0" name="TheCompanyHasRelationsWithOtherCountries" formControlName="TheCompanyHasRelationsWithOtherCountries" (change)="changeQuiz12($event)"> Não
       </div>
       </div>
       <div class="form-group" [hidden]="!box12">
        <label for="TheCompanyHasRelationsWithOtherCountries_TextArea12">Se sim, qual(ais)?</label>
        <textarea
          class="form-control"
          id="TheCompanyHasRelationsWithOtherCountries_TextArea12"
          formControlName="TheCompanyHasRelationsWithOtherCountries_TextArea12"
          rows="3"
        ></textarea>
      </div>
    </div>
</form>
</div>

<!-- PERGUNTA 13 -->
<div class="Accountiner">
  <form [formGroup]="formulario">

    <div class="form-group">
        <label for="TheCompanyUsesIntermediariesToCloseDeals">13 - A empresa faz uso de intermediários para fechar negócios?   </label>
       <div class="linha">
        <div class="form-check-inline">
          <input id="true" type="radio" value='1' name="TheCompanyUsesIntermediariesToCloseDeals"  formControlName="TheCompanyUsesIntermediariesToCloseDeals" (change)="changeQuiz13($event)"> Sim
       </div>

       <div class="form-check-inline">
          <input id="false" type="radio" value="0" name="TheCompanyUsesIntermediariesToCloseDeals" formControlName="TheCompanyUsesIntermediariesToCloseDeals" (change)="changeQuiz13($event)"> Não
       </div>
       </div>
       <div class="form-group" [hidden]="!box13">
        <label for="TheCompanyUsesIntermediariesToCloseDeals_TextArea13">Se sim, especifique:</label>
        <textarea
          class="form-control"
          id="TheCompanyUsesIntermediariesToCloseDeals_TextArea13"
          formControlName="TheCompanyUsesIntermediariesToCloseDeals_TextArea13"
          rows="3"
        ></textarea>
      </div>
    </div>
</form>
</div>

<!-- PERGUNTA 14 -->
<div class="Accountiner">
  <form [formGroup]="formulario">

    <div class="form-group">
        <label for="TheCompanyPerformsTreatmentUnderTheTermsOfTheLgpd">14 - A empresa realiza tratamento, nos termos da LGPD, de dados pessoais da MV? Responder as questões seguintes caso a resposta seja afirmativa. Caso a resposta seja negativa responder “NA” (Não aplicável).   </label>
       <div class="linha">
        <div class="form-check-inline">
          <input id="true" type="radio" value='1' name="TheCompanyPerformsTreatmentUnderTheTermsOfTheLgpd"  formControlName="TheCompanyPerformsTreatmentUnderTheTermsOfTheLgpd" (change)="changeQuiz($event)"> Sim
       </div>

       <div class="form-check-inline">
          <input id="false" type="radio" value="0" name="TheCompanyPerformsTreatmentUnderTheTermsOfTheLgpd" formControlName="TheCompanyPerformsTreatmentUnderTheTermsOfTheLgpd" (change)="changeQuiz($event)"> Não
       </div>
       </div>
    </div>
</form>
</div>

<!-- PERGUNTA 15 -->
<div class="Accountiner">
  <form [formGroup]="formulario">

    <div class="form-group">
        <label for="TheCompanyHasALgpdProgram">15 - A empresa possui programa de LGPD? Mencionar abaixo se possui certificação relacionada a proteção de dados e/ou à segurança da informação.</label>
       <div class="linha">
        <div class="form-check-inline">
          <input id="true" type="radio" value='1' name="TheCompanyHasALgpdProgram"  formControlName="TheCompanyHasALgpdProgram" (change)="changeQuiz15($event)"> Sim
       </div>

       <div class="form-check-inline">
          <input id="false" type="radio" value="0" name="TheCompanyHasALgpdProgram" formControlName="TheCompanyHasALgpdProgram" (change)="changeQuiz15($event)"> Não
       </div>
       </div>
       <div class="form-group" [hidden]="!box15">
        <label for="TheCompanyHasALgpdProgram_TextArea15">Se possui certificação, especifique:</label>
        <textarea
          class="form-control"
          id="TheCompanyHasALgpdProgram_TextArea15"
          formControlName="TheCompanyHasALgpdProgram_TextArea15"
          rows="3"
        ></textarea>
      </div>
    </div>
</form>
</div>

<!-- PERGUNTA 16 -->

<div class="Accountiner">
  <form [formGroup]="formulario">

    <div class="form-group">
        <label for="TheCompanyHasADataProtectionOfficer">16 - A empresa possui um Encarregado de Proteção de Dados (DPO – Data Protection Officer) nomeado?   </label>
       <div class="linha">
        <div class="form-check-inline">
          <input id="true" type="radio" value='1' name="TheCompanyHasADataProtectionOfficer"  formControlName="TheCompanyHasADataProtectionOfficer" (change)="changeQuiz16($event)"> Sim
       </div>

       <div class="form-check-inline">
          <input id="false" type="radio" value="0" name="TheCompanyHasADataProtectionOfficer" formControlName="TheCompanyHasADataProtectionOfficer" (change)="changeQuiz16($event)"> Não
       </div>
       </div>
       <div class="form-group" [hidden]="!box16">
        <label for="TheCompanyHasADataProtectionOfficer_TextArea16">Se sim, indique o nome e dados para Accountto:</label>
        <textarea
          class="form-control"
          id="TheCompanyHasADataProtectionOfficer_TextArea16"
          formControlName="TheCompanyHasADataProtectionOfficer_TextArea16"
          rows="3"
        ></textarea>
      </div>
    </div>
</form>
</div>

<!-- PERGUNTA 17 -->
<div class="Accountiner">
  <form [formGroup]="formulario">

    <div class="form-group">
        <label for="TheCompanyIsAbleToMeetTheRightsOfHoldersOfPersonalData">17 - A empresa encontra-se apta a atender os direitos dos titulares de dados pessoais e a fornecer os relatórios necessários para avaliação de impacto em caso de incidentes com dados pessoais? </label>
       <div class="linha">
        <div class="form-check-inline">
          <input id="true" type="radio" value='1' name="TheCompanyIsAbleToMeetTheRightsOfHoldersOfPersonalData"  formControlName="TheCompanyIsAbleToMeetTheRightsOfHoldersOfPersonalData" (change)="changeQuiz($event)"> Sim
       </div>

       <div class="form-check-inline">
          <input id="false" type="radio" value="0" name="TheCompanyIsAbleToMeetTheRightsOfHoldersOfPersonalData" formControlName="TheCompanyIsAbleToMeetTheRightsOfHoldersOfPersonalData" (change)="changeQuiz($event)"> Não
       </div>
       </div>
    </div>
</form>
</div>

<!-- PERGUNTA 18 -->
<div class="Accountiner">
  <form [formGroup]="formulario">

    <div class="form-group">
        <label for="EmployeesReceiveTraining">18 - Os colaboradores recebem treinamento e capacitação contínua sobre a importância da proteção de dados pessoais? </label>
       <div class="linha">
        <div class="form-check-inline">
          <input id="true" type="radio" value='1' name="EmployeesReceiveTraining"  formControlName="EmployeesReceiveTraining" (change)="changeQuiz($event)"> Sim
       </div>

       <div class="form-check-inline">
          <input id="false" type="radio" value="0" name="EmployeesReceiveTraining" formControlName="EmployeesReceiveTraining" (change)="changeQuiz($event)"> Não
       </div>
       </div>
    </div>
</form>
</div>

<!-- PERGUNTA 19 -->
<div class="Accountiner">
  <form [formGroup]="formulario">

    <div class="form-group">
        <label for="DescribeTheSecurityTechniquesAdopted">19 - Descreva as técnicas de segurança adotadas para preservar a confidencialidade, a integridade e a disponibilidade dos dados pessoais (exemplo: uso de antivírus, firewall, criptografia, etc.) </label>
       <div class="linha">
        <div class="form-check-inline">
          <input id="true" type="radio" value='1' name="DescribeTheSecurityTechniquesAdopted"  formControlName="DescribeTheSecurityTechniquesAdopted" (change)="changeQuiz19($event)"> Sim
       </div>

       <div class="form-check-inline">
          <input id="false" type="radio" value="0" name="DescribeTheSecurityTechniquesAdopted" formControlName="DescribeTheSecurityTechniquesAdopted" (change)="changeQuiz19($event)"> Não
       </div>
       </div>
       <div class="form-group" [hidden]="!box19">
        <label for="DescribeTheSecurityTechniquesAdopted_TextArea19">Se sim, especifique:</label>
        <textarea
          class="form-control"
          id="DescribeTheSecurityTechniquesAdopted_TextArea19"
          formControlName="DescribeTheSecurityTechniquesAdopted_TextArea19"
          rows="3"
        ></textarea>
      </div>
    </div>
</form>
</div>

<!-- PERGUNTA 20 -->
<div class="Accountiner">
  <form [formGroup]="formulario">

    <div class="form-group">
        <label for="AllTransfersAndSharingOfPersonalDataCarriedOut">20 - Todas as transferências e compartilhamentos de dados pessoais realizados pela empresa estão devidamente identificados e ocorrem de acordo com a forma prevista em lei?</label>
       <div class="linha">
        <div class="form-check-inline">
          <input id="true" type="radio" value='1' name="AllTransfersAndSharingOfPersonalDataCarriedOut"  formControlName="AllTransfersAndSharingOfPersonalDataCarriedOut" (change)="changeQuiz($event)"> Sim
       </div>

       <div class="form-check-inline">
          <input id="false" type="radio" value="0" name="AllTransfersAndSharingOfPersonalDataCarriedOut" formControlName="AllTransfersAndSharingOfPersonalDataCarriedOut" (change)="changeQuiz($event)"> Não
       </div>
       </div>
    </div>
</form>
</div>


  <div class="flex-box" id="centro">
    <h4>Assinatura Representante</h4>
  </div>

  <div class="d-flex">
    <div class="form-group col-md-4">
      <label class="control-label" for="Date">Data</label>
      <input
        id="Date"
        class="form-control"
        [ngClass]="{ 'is-invalid': f.Date.errors && f.Date.touched }"
        type="date"
        formControlName="Date"
      />
      <div *ngIf="f.Date.errors?.required" class="invalid-feedback">
        A data de cadastro é obrigatória
      </div>
    </div>

    <div class="form-group col-md-8">
      <label for="RepresentativeName">Nome do representante legal</label>
      <input
        type="text"
        class="form-control"
        [ngClass]="{ 'is-invalid': f.RepresentativeName.errors && f.RepresentativeName.touched }"
        formControlName="RepresentativeName"
        id="RepresentativeName"
        placeholder="Digite o nome do representante legal"
      />
      <div *ngIf="f.RepresentativeName.errors?.required" class="invalid-feedback">
        O nome do representante legal é obrigatório.
      </div>
    </div>
  </div>

 <div class="d-flex">
  <div class="form-group col-md-4">
    <label for="RgRepresentative" class="control-label">RG</label>
    <input
      type="text"
      class="form-control"
      [ngClass]="{ 'is-invalid': f.RgRepresentative.errors && f.RgRepresentative.touched }"
      formControlName="RgRepresentative"
      id="RgRepresentative"
      placeholder="Digite o RG do representante legal"
    />
    <div *ngIf="f.RgRepresentative.errors?.required" class="invalid-feedback">
      O RG do representante legal é obrigatório.
    </div>
  </div>

  <div class="col-md-8">
    <label for="OccupationRepresentative" class="control-label">Cargo</label>
    <input
      type="text"
      class="form-control"
      [ngClass]="{ 'is-invalid': f.OccupationRepresentative.errors && f.OccupationRepresentative.touched }"
      formControlName="OccupationRepresentative"
      id="OccupationRepresentative"
      placeholder="Digite o cargo do representante legal"
    />
    <div *ngIf="f.OccupationRepresentative.errors?.required" class="invalid-feedback">
      O cargo do representante legal é obrigatório.
    </div>
  </div>
 </div>


  <!-- BOTÕES -->

  <div class="flex-box">
    <button type="button" class="btn-danger" (click)="resetar()">
      <i class="fa fa-times-circle" aria-hidden="true"></i>
      Limpar
    </button>

    <button
      type="submit"
      class="btn-success"
      (click)="postar()">
      <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
      Gerar PDF
    </button>

  </div>

</form>
</div>
<!-- [disabled]="!formulario.valid" -->

