<div class="borda">
<app-form-debug [form]="formulario"></app-form-debug>

<form class="form-horizontal font" [formGroup]="formulario">


<div class="flex-box" id="centro">
  <h4>Dados necessários para o cadastramento de Fornecedores Nacional</h4>
</div>


<div class="d-flex">
  <div class="col-md-4">
    <label for="cnpj" class="control-label">CNPJ</label>
    <input
      type="text"
      class="form-control"
      formControlName="cnpj"
      (blur)="consultaCNPJ()"
      id="cnpj"
      maxlength="18"
      mask="00.000.000/0000-00"
      [ngClass]="{ 'is-invalid': f.cnpj.errors && f.cnpj.touched }"
      placeholder="00.000.000/0000-00"
    />
    <div *ngIf="f.cnpj.errors?.required" class="invalid-feedback">
      O CNPJ é obrigatório
    </div>
  </div>

    <div class="col-md-8">
      <div><label for="corporateName">Razão Social</label></div>
      <div>
        <input
          type="text"
          class="form-control"
          [ngClass]="{ 'is-invalid': f.corporateName.errors && f.corporateName.touched }"
          formControlName="corporateName"
          id="corporateName"
          placeholder="Digite a Razão Social"
        />
        <div *ngIf="f.corporateName.errors?.required" class="invalid-feedback">
          A razão social é obrigatória
        </div>
      </div>
    </div>

  </div>

  <div class="d-flex">
    <div class="col-md-4">
      <div><label for="control-label">Número de Funcionários</label></div>

      <input
  type="text"
  placeholder="Digite o número de funcionários"
  class="form-control"
  formControlName="numberEmployees"
  id="numberEmployees"
  [ngClass]="{ 'is-invalid': f.numberEmployees.errors && f.numberEmployees.touched }"
  />
  <div *ngIf="f.numberEmployees.errors?.required" class="invalid-feedback">
    O número de funcionários é obrigatório
  </div>
    </div>

    <div class="col-md-4">
      <label for="stateRegistration" class="control-label">Inscrição Estadual</label>
      <input
      type="text"
        class="form-control"
        placeholder="Digite a Inscrição Estadual"
        [ngClass]="{ 'is-invalid': f.stateRegistration.errors && f.stateRegistration.touched }"
        formControlName="stateRegistration"
        id="stateRegistration"
      />
      <div *ngIf="f.stateRegistration.errors?.required" class="invalid-feedback">
        A Inscrição Estadual é obrigatória.
      </div>
    </div>

    <div class="col-md-4">
      <label for="municipalRegistration" class="control-label">Inscrição Municipal</label>
      <input
      type="text"
        class="form-control"
        placeholder="Digite a Inscrição Municipal"
        [ngClass]="{ 'is-invalid': f.municipalRegistration.errors && f.municipalRegistration.touched }"
        formControlName="municipalRegistration"
        id="municipalRegistration"
      />
      <div *ngIf="f.municipalRegistration.errors?.required" class="invalid-feedback">
        A Inscrição Municipal é obrigatória
      </div>
    </div>
  </div>

    <div class="d-flex">
    <div class="col-md-4 form-group">
      <div><label for="primaryPhone">Telefone de Contato (principal)</label></div>

      <input
        type="text"
        class="form-control"
        [ngClass]="{ 'is-invalid': f.primaryPhone.errors && f.primaryPhone.touched }"
        formControlName="primaryPhone"
        id="primaryPhone"
        maxlength="18"
        mask="(00) 0000-0000"
        placeholder="(00) 0000-0000"
      />
      <div *ngIf="f.primaryPhone.errors?.required" class="invalid-feedback">
        O telefone é obrigatório
      </div>
    </div>

    <div class="col-md-4">
      <div><label for="secondaryPhone">Telefone de Contato (secundário)</label></div>

      <input
        type="text"
        class="form-control"
        [ngClass]="{ 'is-invalid': f.secondaryPhone.errors && f.secondaryPhone.touched }"
        formControlName="secondaryPhone"
        id="secondaryPhone"
        mask="(00) 0000-0000"
        placeholder="(00) 0000-0000"
      />
      <div *ngIf="f.secondaryPhone.errors?.required" class="invalid-feedback">
        O telefone é obrigatório
      </div>
    </div>

    <div class="col-md-4">
      <div><label for="email">Email</label></div>

      <input
        type="text"
        class="form-control"
        [ngClass]="{ 'is-invalid': f.email.errors && f.email.touched }"
        formControlName="email"
        id="email"
        placeholder="nome@email.com"
      />
      <div *ngIf="f.email.errors?.required" class="invalid-feedback">
        O Email é obrigatório.
      </div>
    </div>
  </div>

  <!-- CADASTRO DOS SÓCIOS -->
  <div class="flex-box" id="centro">
    <h4>Cadastro de Sócios</h4>
  </div>
<div class="form-group">
<div class="d-flex">
    <div class="col-md-6 form-group">
      <div><label for="namePartner" class="control-label">Nome do Sócio</label></div>

      <input
      type="text"
      class="form-control"
      [ngClass]="{ 'is-invalid': f.namePartner.errors && f.namePartner.touched }"
      formControlName="namePartner"
      id="namePartner"
      placeholder="Nome do sócio"
      />
      <div *ngIf="f.namePartner.errors?.required" class="invalid-feedback">
        O sócio é obrigatório
      </div>
    </div>

    <div class="col-md-6 form-group">
      <div><label for="occupationPartner" class="control-label">Cargo</label></div>

      <input
    type="text"
    placeholder="Cargo do sócio"
    class="form-control"
    formControlName="occupationPartner"
    id="occupationPartner"
    [ngClass]="{ 'is-invalid': f.occupationPartner.errors && f.occupationPartner.touched }"
    />
    <div *ngIf="f.occupationPartner.errors?.required" class="invalid-feedback">
      O cargo é obrigatório
    </div>
    </div>

  </div>


  <div class="d-flex">
    <div class="col-md-4 form-group">
      <div><label for="cpfPartner" class="control-label">CPF/CNPJ</label></div>

      <input
      type="text"
      placeholder="Digite o CPF/MF"
      class="form-control"
      mask="000.000.000-00"
      formControlName="cpfPartner"
      id="cpfPartner"
      [ngClass]="{ 'is-invalid': f.cpfPartner.errors && f.cpfPartner.touched }"
      />
      <div *ngIf="f.cpfPartner.errors?.required" class="invalid-feedback">
        O CPF/MF é obrigatório
      </div>
    </div>
    <div class="col-md-4 form-group">
        <div><label for="rgPartner" class="control-label">RG (se física)</label></div>

        <input
    type="text"
    placeholder="Digite o RG"
    class="form-control"
    formControlName="rgPartner"
    id="rgPartner"
    [ngClass]="{ 'is-invalid': f.rgPartner.errors && f.rgPartner.touched }"
    />
    <div *ngIf="f.rgPartner.errors?.required" class="invalid-feedback">
      O RG é obrigatório
    </div>
      </div>

      <div class="col-md-4 form-group">
        <div><label for="participationPercentage" class="control-label">% de participação na empresa</label></div>

        <input
    type="text"
    placeholder="Digite o % de participação na empresa"
    class="form-control"
    formControlName="participationPercentage"
    id="participationPercentage"
    [ngClass]="{ 'is-invalid': f.participationPercentage.errors && f.participationPercentage.touched }"
    />
    <div *ngIf="f.participationPercentage.errors?.required" class="invalid-feedback">
      O % de participação na empresa é obrigatório
    </div>
      </div>
  </div>

  <div class="d-flex">
    <div class="col-md-8 form-group">
      <label for="adressPartner" class="control-label">Endereço Completo Sócio</label>
      <input
        type="text"
        class="form-control"
        placeholder="Digite o endereço completo"
        [ngClass]="{ 'is-invalid': f.adressPartner.errors && f.adressPartner.touched }"
        formControlName="adressPartner"
        id="adressPartner"
      />
      <div *ngIf="f.adressPartner.errors?.required" class="invalid-feedback">
        O campo Endereço é obrigatório.
      </div>
    </div>

    <div class="col-md-4 form-group">
      <label for="cepPartner" class="control-label">CEP</label>
      <input
        type="text"
        class="form-control"
        mask="00000-000"
        placeholder="Digite o CEP"
        [ngClass]="{
          'is-invalid': f.cepPartner.errors && f.cepPartner.touched
        }"
        formControlName="cepPartner"
        id="cepPartner"
      />
      <div *ngIf="f.cepPartner.errors?.required" class="invalid-feedback">
        O campo CEP é obrigatório.
      </div>
    </div>
  </div>
</div>

<div class="flex-box">
  <button
  type="submit"
  class="btn btn-success"
 (click)="cadSocio()">
  Adicionar Sócio
</button>
</div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nome do Sócio</th>
        <th scope="col">Cargo do Sócio</th>
        <th scope="col">CPF/CNPJ</th>
        <th scope="col">RG</th>
        <th scope="col">Endereço</th>
        <th scope="col">CEP</th>
        <th scope="col" class="text-center">% Part. na Empresa</th>
      </tr>
    </thead>
      <tbody class="font-table">
        <tr *ngFor="let partner of partnerget">
          <td scope="row">{{partner.namePartner}}</td>
          <td scope="row">{{partner.occupationPartner}}</td>
          <td scope="row">{{partner.cpfPartner}}</td>
          <td scope="row">{{partner.rgPartner}}</td>
          <td scope="row">{{partner.adressPartner}}</td>
          <td scope="row">{{partner.cepPartner}}</td>
          <td scope="row" class="text-center">{{partner.participationPercentage}}</td>

          <td><button title="Remover" class="btn btn-danger" (click)="openModal(template, partner)">
            <i class="fa fa-trash" aria-hidden="true"></i>
         </button></td>
      </tbody>

       <ng-template #template>
        <div class="modal-body text-center">
          <p>Tem certeza que deseja deletar este sócio?</p>
          <button type="button" class="btn btn-secondary mr-1" (click)="confirm()" >Sim</button>
          <button type="button" class="btn btn-primary ml-1" (click)="decline()" >Não</button>
        </div>
      </ng-template>

  </table>


  <div class="flex-box" id="centro">
    <h4>Contato financeiro</h4>
  </div>

  <div class="d-flex">
    <div class="col-md-6 form-group">
      <label for="financialContact">Nome do Contato financeiro</label>
      <input
        type="text"
        class="form-control"
        [ngClass]="{ 'is-invalid': f.financialContact.errors && f.financialContact.touched }"
        formControlName="financialContact"
        id="financialContact"
        placeholder="Digite o nome do Contato financeiro"
      />
      <div *ngIf="f.financialContact.errors?.required" class="invalid-feedback">
        O nome do contato financeiro é obrigatório.
      </div>
    </div>

    <div class="col-md-6">
      <label for="occupation" class="control-label">Cargo</label>
      <input
        type="text"
        class="form-control"
        [ngClass]="{ 'is-invalid': f.occupation.errors && f.occupation.touched }"
        formControlName="occupation"
        id="occupation"
        placeholder="Digite o cargo"
      />
      <div *ngIf="f.occupation.errors?.required" class="invalid-feedback">
        O cargo é obrigatório.
      </div>
    </div>
  </div>

  <div class="d-flex">
    <div class="col-md-4">
      <div><label for="financialPhone">Telefone</label></div>

      <input
        type="text"
        class="form-control"
        [ngClass]="{ 'is-invalid': f.financialPhone.errors && f.financialPhone.touched }"
        formControlName="financialPhone"
        id="financialPhone"
        mask="(00) 0000-0000"
        placeholder="(00) 0000-0000"
      />
      <div *ngIf="f.financialPhone.errors?.required" class="invalid-feedback">
        O telefone é obrigatório.
      </div>
    </div>

    <div class="col-md-4">
      <div><label for="financialEmail">Email</label></div>
      <input
        type="text"
        class="form-control"
        [ngClass]="{ 'is-invalid': f.financialEmail.errors && f.financialEmail.touched }"
        formControlName="financialEmail"
        id="financialEmail"
        placeholder="nome@email.com"
      />
      <div *ngIf="f.financialEmail.errors?.required" class="invalid-feedback">
        O Email é obrigatório.
      </div>
    </div>

    <div class="col-md-4">
      <div><label for="mvContact">Contato na MV</label></div>

      <input
        type="text"
        class="form-control"
        [ngClass]="{ 'is-invalid': f.mvContact.errors && f.mvContact.touched }"
        formControlName="mvContact"
        id="mvContact"
        placeholder="Digite o nome do seu Contato na MV"
      />
      <div *ngIf="f.mvContact.errors?.required" class="invalid-feedback">
        O contato MV é obrigatório.
      </div>
    </div>
  </div>
  <br />

  <div class="flex-box" id="centro">
    <h4>Endereço completo</h4>
  </div>

  <div>
    <div class="form-group">
      <div class="d-flex">
        <div class="col-md-4 form-group">
          <label for="cep" class="control-label">CEP</label>
          <input
            type="text"
            class="form-control"
            [ngClass]="{ 'is-invalid': f.cep.errors && f.cep.touched }"
            formControlName="cep"
            mask="00000-000"
            id="cep"
            placeholder="00000-000"
            (blur)="consultaCEP()"
          />
          <div *ngIf="f.cep.errors?.required" class="invalid-feedback">
            O campo CEP é obrigatório.
          </div>
        </div>



          <div class="col-md-6">
            <label for="street" class="control-label">Rua</label>
            <input
              type="text"
              class="form-control"
              [ngClass]="{ 'is-invalid': f.street.errors && f.street.touched }"
              formControlName="street"
              id="street"
              placeholder="Digite o nome da Rua"
            />
            <div *ngIf="f.street.errors?.required" class="invalid-feedback">
              O campo Rua é obrigatório.
            </div>
          </div>


        <div class="col-md-2">
          <label for="addressNumber" class="control-label">Número</label>
          <input
            type="number"
            class="form-control"
            placeholder="Digite o número"
            [ngClass]="{ 'is-invalid': f.addressNumber.errors && f.addressNumber.touched }"
            formControlName="addressNumber"
            id="addressNumber"
          />
          <div *ngIf="f.addressNumber.errors?.required" class="invalid-feedback">
            O campo número é obrigatório.
          </div>
        </div>

      </div>

      <div class="d-flex">
        <div class="col-md-5 form-group">
          <label for="district" class="control-label">Bairro</label>
          <input
            type="text"
            class="form-control"
            placeholder="Digite o bairro"
            [ngClass]="{ 'is-invalid': f.district.errors && f.district.touched }"
            formControlName="district"
            id="district"
          />
          <div *ngIf="f.district.errors?.required" class="invalid-feedback">
            O campo Bairro é obrigatório.
          </div>
        </div>

        <div class="col-md-4">
          <label for="city" class="control-label">Cidade</label>
          <input
            type="text"
            class="form-control"
            placeholder="Digite a cidade"
            [ngClass]="{ 'is-invalid': f.city.errors && f.city.touched }"
            formControlName="city"
            id="city"
          />
          <div *ngIf="f.city.errors?.required" class="invalid-feedback">
            O campo Cidade é obrigatório.
          </div>
        </div>

        <div class="col-md-3">
          <label for="state" class="control-label">Estado</label>
          <input
            type="text"
            class="form-control"
            placeholder="Digite o estado"
            [ngClass]="{ 'is-invalid': f.state.errors && f.state.touched }"
            formControlName="state"
            id="state"
          />
          <div *ngIf="f.state.errors?.required" class="invalid-feedback">
            O campo Estado é obrigatório.
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <label for="complement" class="control-label">Complemento</label>
        <input
          type="text"
          class="form-control"
          placeholder="Digite o complemento"
          formControlName="complement"
          id="complement"
        />
      </div>
    </div>

  </div>

  <div class="flex-box" id="centro">
    <h4>Dados Bancários</h4>
  </div>
  <div class="d-flex">
    <div class="col-md-4">
      <label for="account" class="control-label">Conta</label>
      <input
      type="text"
        class="form-control"
        placeholder="Digite o número da conta"
        [ngClass]="{ 'is-invalid': f.account.errors && f.account.touched }"
        formControlName="account"
        id="account"
      />
      <div *ngIf="f.account.errors?.required" class="invalid-feedback">
        O campo Conta é obrigatório.
      </div>
    </div>

    <div class="col-md-4 form-group">
      <label for="agency" class="control-label">Agência</label>
      <input
      type="text"
        class="form-control"
        placeholder="Digite a agência"
        [ngClass]="{ 'is-invalid': f.agency.errors && f.agency.touched }"
        formControlName="agency"
        id="agency"
      />
      <div *ngIf="f.agency.errors?.required" class="invalid-feedback">
        O campo Agência é obrigatório.
      </div>
    </div>

    <div class="col-md-4">
      <label for="operation" class="control-label">Operação</label>
      <input
      type="text"
        class="form-control"
        placeholder="Digite o código da operação"
        [ngClass]="{ 'is-invalid': f.operation.errors && f.operation.touched }"
        formControlName="operation"
        id="operation"
      />
      <div *ngIf="f.operation.errors?.required" class="invalid-feedback">
        O campo Operação é obrigatório.
      </div>
    </div>
  </div>
  <div class="d-flex">
    <div class="col-md-6 form-group">
      <label for="bank" class="control-label">Banco</label>
      <input
        type="text"
        class="form-control"
        placeholder="Digite o codigo e nome do banco"
        [ngClass]="{ 'is-invalid': f.bank.errors && f.bank.touched }"
        formControlName="bank"
        id="bank"
      />
      <div *ngIf="f.bank.errors?.required" class="invalid-feedback">
        O campo Banco é obrigatório.
      </div>
    </div>

    <div class="col-md-6">
      <label for="favored" class="control-label">Favorecido</label>
      <input
        type="text"
        class="form-control"
        placeholder="Digite o nome do favorecido"
        [ngClass]="{
          'is-invalid': f.favored.errors && f.favored.touched
        }"
        formControlName="favored"
        id="favored"
      />
      <div *ngIf="f.favored.errors?.required" class="invalid-feedback">
        O campo Favorecido é obrigatório.
      </div>
    </div>
  </div>

<!-- UPLOAD ARQUIVO -->

<div class="flex-box" id="centro">
  <h4>Documentos Exigidos (anexar .PDF)</h4>
</div>

  <div class="centralizado">
    1. Cópia da procuração quando a empresa for representada por não sócio
    administrador;
  </div>
  <div class="centralizado">
    2. Cópia do contrato social juntamente com a última alteração;
  </div>
  <div class="flex-box"><input #anexo type="file" (change)="selectFiles($event)" multiple accept=".pdf" /></div>



  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Url</th>

      </tr>
    </thead>
      <tbody class="font-table">
        <tr *ngFor="let attachment of formulario.value.attachments">
          <td scope="row">{{attachment.name}}</td>
          <td scope="row"><a href="{{attachment.url}}">Visualizar</a></td>


          <td><button title="Remover" class="btn btn-danger" (click)="openModalAttachment(templateattachments, attachment)">
            <i class="fa fa-trash" aria-hidden="true"></i>
         </button></td>
      </tbody>

       <ng-template #templateattachments>
        <div class="modal-body text-center">
          <p>Tem certeza que deseja deletar este anexo?</p>
          <button type="button" class="btn btn-secondary mr-1" (click)="confirmAttachment()">Sim</button>
          <button type="button" class="btn btn-primary ml-1" (click)="declineAttachment()">Não</button>
        </div>
      </ng-template>

  </table>

  <!-- QUESTIONÁRIO -->

  <div class="flex-box" id="centro">
    <h4>Questionário</h4>
  </div>

<!-- PERGUNTA 1 -->
  <div class="Accountiner">
    <form [formGroup]="formulario">

      <div class="form-group">
          <label for="technicalAbilityToPerform">1 - Possui capacidade técnica para execução integral dos serviços contratados?</label>
         <div class="linha">
          <div class="form-check-inline">
            <input id="true" type="radio" value="1" name="technicalAbilityToPerform"  formControlName="technicalAbilityToPerform" (change)="changeQuiz($event)"> Sim
         </div>

         <div class="form-check-inline">
            <input id="false" type="radio" value="0" name="technicalAbilityToPerform" formControlName="technicalAbilityToPerform" (change)="changeQuiz($event)"> Não
         </div>
         </div>
      </div>
  </form>
</div>

<!-- PERGUNTA 2 -->
<div class="Accountiner">

  <form [formGroup]="formulario">

    <div class="form-group">
        <label for="companyHaveAnIntegrityOrComplianceProgram">2 - A empresa possui programa de integridade ou Compliance?</label>
       <div class="linha">
        <div class="form-check-inline">
          <input id="true" type="radio" value='1' name="companyHaveAnIntegrityOrComplianceProgram"  formControlName="companyHaveAnIntegrityOrComplianceProgram" (change)="changeQuiz($event)"> Sim
       </div>

       <div class="form-check-inline">
          <input id="false" type="radio" value="0" name="companyHaveAnIntegrityOrComplianceProgram" formControlName="companyHaveAnIntegrityOrComplianceProgram" (change)="changeQuiz($event)"> Não
       </div>
       </div>
    </div>
</form>
</div>

<!-- PERGUNTA 3 -->
<div class="Accountiner">

  <form [formGroup]="formulario">

    <div class="form-group">
        <label for="involvementInInvestigationsFraudCorruption">3 - A empresa possui histórico de envolvimento em investigações em casos
          de fraude, corrupção ou lavagem de dinheiro?</label>
       <div class="linha">
        <div class="form-check-inline">
          <input id="true" type="radio" value='1' name="involvementInInvestigationsFraudCorruption"  formControlName="involvementInInvestigationsFraudCorruption" (change)="changeQuiz($event)"> Sim
       </div>

       <div class="form-check-inline">
          <input id="false" type="radio" value="0" name="involvementInInvestigationsFraudCorruption" formControlName="involvementInInvestigationsFraudCorruption" (change)="changeQuiz($event)"> Não
       </div>
       </div>
    </div>
</form>
</div>

<!-- PERGUNTA 4 -->
<div class="Accountiner">

  <form [formGroup]="formulario">

    <div class="form-group">
        <label for="theCompanyBeenPartOfCEISAndCNEP">4 - A empresa está listada ou se já fez parte do Cadastro Nacional de
          Empresas Inidôneas e Suspensas (CEIS) e no Cadastro Nacional das Empresas
          Punidas (CNEP).</label>
       <div class="linha">
        <div class="form-check-inline">
          <input id="true" type="radio" value='1' name="theCompanyBeenPartOfCEISAndCNEP"  formControlName="theCompanyBeenPartOfCEISAndCNEP" (change)="changeQuiz($event)"> Sim
       </div>

       <div class="form-check-inline">
          <input id="false" type="radio" value="0" name="theCompanyBeenPartOfCEISAndCNEP" formControlName="theCompanyBeenPartOfCEISAndCNEP" (change)="changeQuiz($event)"> Não
       </div>
       </div>
    </div>
</form>
</div>

<!-- PERGUNTA 5 -->
<div class="Accountiner">
  <form [formGroup]="formulario">

    <div class="form-group">
        <label for="clientsInWhichItProvidedSimilarServices_TextArea5">5 - Informe o nome de outros clientes nos quais prestou serviços similares:</label>
       <div class="linha">

       </div>
       <div class="form-group">
        <textarea
          class="form-control"
          id="clientsInWhichItProvidedSimilarServices_TextArea5"
          formControlName="clientsInWhichItProvidedSimilarServices_TextArea5"
          rows="3"
        ></textarea>
      </div>
    </div>
</form>
</div>

<!-- PERGUNTA 6 -->
<div class="Accountiner">
  <form [formGroup]="formulario">

    <div class="form-group">
        <label for="describeTheActivitiesOfYourCompanyCNAEs_TextArea6">6 - Descreva as atividades de sua empresa CNAEs</label>
       <div class="linha">

       </div>
       <div class="form-group">
        <textarea
          class="form-control"
          id="describeTheActivitiesOfYourCompanyCNAEs_TextArea6"
          formControlName="describeTheActivitiesOfYourCompanyCNAEs_TextArea6"
          rows="3"
        ></textarea>
      </div>
    </div>
</form>
</div>



<!-- PERGUNTA 7 -->
  <div class="Accountiner">
    <form [formGroup]="formulario">

      <div class="form-group">
          <label for="employmentRelationshipWithMV">7 - Algum sócio e/ou administrador possui vínculo empregatício com a MV?</label>
         <div class="linha">
          <div class="form-check-inline">
            <input id="true" type="radio" value='1' name="employmentRelationshipWithMV"  formControlName="employmentRelationshipWithMV" (change)="changeQuiz7($event)"> Sim
         </div>

         <div class="form-check-inline">
            <input id="false" type="radio" value="0" name="employmentRelationshipWithMV" formControlName="employmentRelationshipWithMV" (change)="changeQuiz7($event)"> Não
         </div>
         </div>
         <div class="form-group" [hidden]="!box7">
          <label for="employmentRelationshipWithMV_TextArea7"
            >Em caso positivo, descreva o cargo e local da prestação de
            serviços:</label
          >
          <textarea
            class="form-control"
            id="employmentRelationshipWithMV_TextArea7"
            formControlName="employmentRelationshipWithMV_TextArea7"
            rows="3"
          ></textarea>
        </div>
      </div>
  </form>
</div>

<!-- PERGUNTA 8 -->

<div class="Accountiner">
  <form [formGroup]="formulario">

    <div class="form-group">
        <label for="employeeServicesHaveAnEmploymentRelationshipWithMv">8 - O funcionário que vai prestar serviço a MV já possuiu vínculo empregatício com a MV? </label>
       <div class="linha">
        <div class="form-check-inline">
          <input id="true" type="radio" value='1' name="employeeServicesHaveAnEmploymentRelationshipWithMv"  formControlName="employeeServicesHaveAnEmploymentRelationshipWithMv" (change)="changeQuiz8($event)"> Sim
       </div>

       <div class="form-check-inline">
          <input id="false" type="radio" value="0" name="employeeServicesHaveAnEmploymentRelationshipWithMv" formControlName="employeeServicesHaveAnEmploymentRelationshipWithMv" (change)="changeQuiz8($event)"> Não
       </div>
       </div>
       <div class="form-group" [hidden]="!box8">
        <label for="employeeServicesHaveAnEmploymentRelationshipWithMv_TextArea8">Em caso positivo, descreva o cargo e o tempo de desligamento:</label>
        <textarea
          class="form-control"
          id="employeeServicesHaveAnEmploymentRelationshipWithMv_TextArea8"
          formControlName="employeeServicesHaveAnEmploymentRelationshipWithMv_TextArea8"
          rows="3"
        ></textarea>
      </div>
    </div>
</form>
</div>

<!-- PERGUNTA 9 -->
<div class="Accountiner">
  <form [formGroup]="formulario">

    <div class="form-group">
        <label for="anyPartnerInTheLast3YearsHaveYouBeenPublicServant">9 - Algum sócio ou administrador, nos últimos 3 (três) anos foi funcionário público, político ou ocupante de cargo de confiança ou possui vínculo jurídico e/ou político?  </label>
       <div class="linha">
        <div class="form-check-inline">
          <input id="true" type="radio" value='1' name="anyPartnerInTheLast3YearsHaveYouBeenPublicServant"  formControlName="anyPartnerInTheLast3YearsHaveYouBeenPublicServant" (change)="changeQuiz9($event)"> Sim
       </div>

       <div class="form-check-inline">
          <input id="false" type="radio" value="0" name="anyPartnerInTheLast3YearsHaveYouBeenPublicServant" formControlName="anyPartnerInTheLast3YearsHaveYouBeenPublicServant" (change)="changeQuiz9($event)"> Não
       </div>
       </div>
       <div class="form-group" [hidden]="!box9">
        <label for="anyPartnerInTheLast3YearsHaveYouBeenPublicServant_TextArea9">Em caso positivo, descreva qual a função, o órgão público e local da atuação.</label>
        <textarea
          class="form-control"
          id="anyPartnerInTheLast3YearsHaveYouBeenPublicServant_TextArea9"
          formControlName="anyPartnerInTheLast3YearsHaveYouBeenPublicServant_TextArea9"
          rows="3"
        ></textarea>
      </div>
    </div>
</form>
</div>
<!-- PERGUNTA 10 -->
<div class="Accountiner">
  <form [formGroup]="formulario">

    <div class="form-group">
        <label for="anyPartnerOrAdministratorRunningForPublicOffice">10 - Algum sócio ou administrador concorre a cargo público (seja por concurso ou político)?   </label>
       <div class="linha">
        <div class="form-check-inline">
          <input id="true" type="radio" value='1' name="anyPartnerOrAdministratorRunningForPublicOffice"  formControlName="anyPartnerOrAdministratorRunningForPublicOffice" (change)="changeQuiz10($event)"> Sim
       </div>

       <div class="form-check-inline">
          <input id="false" type="radio" value="0" name="anyPartnerOrAdministratorRunningForPublicOffice" formControlName="anyPartnerOrAdministratorRunningForPublicOffice" (change)="changeQuiz10($event)"> Não
       </div>
       </div>
       <div class="form-group" [hidden]="!box10">
        <label for="anyPartnerOrAdministratorRunningForPublicOffice_TextArea10">Em caso positivo, qual a entidade ou cargo público que concorre?</label>
        <textarea
          class="form-control"
          id="anyPartnerOrAdministratorRunningForPublicOffice_TextArea10"
          formControlName="anyPartnerOrAdministratorRunningForPublicOffice_TextArea10"
          rows="3"
        ></textarea>
      </div>
    </div>
</form>
</div>

<!-- PERGUNTA 11 -->
<div class="Accountiner">
  <form [formGroup]="formulario">

    <div class="form-group">
        <label for="anyPartnerIsSpouseOrLivesInAStableUnionFromSomeMvEmployee">11 - Algum sócio ou administrador é cônjuge ou vive em união estável, é neto(a), pai, mãe, filho(a), tio(a) ou sobrinho(a), de algum funcionário da MV? </label>
       <div class="linha">
        <div class="form-check-inline">
          <input id="true" type="radio" value='1' name="anyPartnerIsSpouseOrLivesInAStableUnionFromSomeMvEmployee"  formControlName="anyPartnerIsSpouseOrLivesInAStableUnionFromSomeMvEmployee" (change)="changeQuiz11($event)"> Sim
       </div>

       <div class="form-check-inline">
          <input id="false" type="radio" value="0" name="anyPartnerIsSpouseOrLivesInAStableUnionFromSomeMvEmployee" formControlName="anyPartnerIsSpouseOrLivesInAStableUnionFromSomeMvEmployee" (change)="changeQuiz11($event)"> Não
       </div>
       </div>
       <div class="form-group" [hidden]="!box11">
        <label for="anyPartnerIsSpouseOrLivesInAStableUnionFromSomeMvEmployee_TextArea11">Em caso positivo, informe o grau de parentesco, a entidade e o local da prestação de serviços do parente.</label>
        <textarea
          class="form-control"
          id="anyPartnerIsSpouseOrLivesInAStableUnionFromSomeMvEmployee_TextArea11"
          formControlName="anyPartnerIsSpouseOrLivesInAStableUnionFromSomeMvEmployee_TextArea11"
          rows="3"
        ></textarea>
      </div>
    </div>
</form>
</div>

<!-- PERGUNTA 12 -->
<div class="Accountiner">
  <form [formGroup]="formulario">

    <div class="form-group">
        <label for="theCompanyHasRelationsWithOtherCountries">12 - A empresa possui relação com outros países?  </label>
       <div class="linha">
        <div class="form-check-inline">
          <input id="true" type="radio" value='1' name="theCompanyHasRelationsWithOtherCountries"  formControlName="theCompanyHasRelationsWithOtherCountries" (change)="changeQuiz12($event)"> Sim
       </div>

       <div class="form-check-inline">
          <input id="false" type="radio" value="0" name="theCompanyHasRelationsWithOtherCountries" formControlName="theCompanyHasRelationsWithOtherCountries" (change)="changeQuiz12($event)"> Não
       </div>
       </div>
       <div class="form-group" [hidden]="!box12">
        <label for="theCompanyHasRelationsWithOtherCountries_TextArea12">Se sim, qual(ais)?</label>
        <textarea
          class="form-control"
          id="theCompanyHasRelationsWithOtherCountries_TextArea12"
          formControlName="theCompanyHasRelationsWithOtherCountries_TextArea12"
          rows="3"
        ></textarea>
      </div>
    </div>
</form>
</div>

<!-- PERGUNTA 13 -->
<div class="Accountiner">
  <form [formGroup]="formulario">

    <div class="form-group">
        <label for="theCompanyUsesIntermediariesToCloseDeals">13 - A empresa faz uso de intermediários para fechar negócios?   </label>
       <div class="linha">
        <div class="form-check-inline">
          <input id="true" type="radio" value='1' name="theCompanyUsesIntermediariesToCloseDeals"  formControlName="theCompanyUsesIntermediariesToCloseDeals" (change)="changeQuiz13($event)"> Sim
       </div>

       <div class="form-check-inline">
          <input id="false" type="radio" value="0" name="theCompanyUsesIntermediariesToCloseDeals" formControlName="theCompanyUsesIntermediariesToCloseDeals" (change)="changeQuiz13($event)"> Não
       </div>
       </div>
       <div class="form-group" [hidden]="!box13">
        <label for="theCompanyUsesIntermediariesToCloseDeals_TextArea13">Se sim, especifique:</label>
        <textarea
          class="form-control"
          id="theCompanyUsesIntermediariesToCloseDeals_TextArea13"
          formControlName="theCompanyUsesIntermediariesToCloseDeals_TextArea13"
          rows="3"
        ></textarea>
      </div>
    </div>
</form>
</div>

<!-- PERGUNTA 14 -->
<div class="Accountiner">
  <form [formGroup]="formulario">

    <div class="form-group">
        <label for="theCompanyPerformsTreatmentUnderTheTermsOfTheLgpd">14 - A empresa realiza tratamento, nos termos da LGPD, de dados pessoais da MV? Responder as questões seguintes caso a resposta seja afirmativa. Caso a resposta seja negativa responder “NA” (Não aplicável).   </label>
       <div class="linha">
        <div class="form-check-inline">
          <input id="true" type="radio" value='1' name="theCompanyPerformsTreatmentUnderTheTermsOfTheLgpd"  formControlName="theCompanyPerformsTreatmentUnderTheTermsOfTheLgpd" (change)="changeQuiz($event)"> Sim
       </div>

       <div class="form-check-inline">
          <input id="false" type="radio" value="0" name="theCompanyPerformsTreatmentUnderTheTermsOfTheLgpd" formControlName="theCompanyPerformsTreatmentUnderTheTermsOfTheLgpd" (change)="changeQuiz($event)"> Não
       </div>
       </div>
    </div>
</form>
</div>

<!-- PERGUNTA 15 -->
<div class="Accountiner">
  <form [formGroup]="formulario">

    <div class="form-group">
        <label for="theCompanyHasALgpdProgram">15 - A empresa possui programa de LGPD? Mencionar abaixo se possui certificação relacionada a proteção de dados e/ou à segurança da informação.</label>
       <div class="linha">
        <div class="form-check-inline">
          <input id="true" type="radio" value='1' name="theCompanyHasALgpdProgram"  formControlName="theCompanyHasALgpdProgram" (change)="changeQuiz15($event)"> Sim
       </div>

       <div class="form-check-inline">
          <input id="false" type="radio" value="0" name="theCompanyHasALgpdProgram" formControlName="theCompanyHasALgpdProgram" (change)="changeQuiz15($event)"> Não
       </div>
       </div>
       <div class="form-group" [hidden]="!box15">
        <label for="theCompanyHasALgpdProgram_TextArea15">Se possui certificação, especifique:</label>
        <textarea
          class="form-control"
          id="theCompanyHasALgpdProgram_TextArea15"
          formControlName="theCompanyHasALgpdProgram_TextArea15"
          rows="3"
        ></textarea>
      </div>
    </div>
</form>
</div>

<!-- PERGUNTA 16 -->

<div class="Accountiner">
  <form [formGroup]="formulario">

    <div class="form-group">
        <label for="theCompanyHasADataProtectionOfficer">16 - A empresa possui um Encarregado de Proteção de Dados (DPO – Data Protection Officer) nomeado?   </label>
       <div class="linha">
        <div class="form-check-inline">
          <input id="true" type="radio" value='1' name="theCompanyHasADataProtectionOfficer"  formControlName="theCompanyHasADataProtectionOfficer" (change)="changeQuiz16($event)"> Sim
       </div>

       <div class="form-check-inline">
          <input id="false" type="radio" value="0" name="theCompanyHasADataProtectionOfficer" formControlName="theCompanyHasADataProtectionOfficer" (change)="changeQuiz16($event)"> Não
       </div>
       </div>
       <div class="form-group" [hidden]="!box16">
        <label for="theCompanyHasADataProtectionOfficer_TextArea16">Se sim, indique o nome e dados para Accountto:</label>
        <textarea
          class="form-control"
          id="theCompanyHasADataProtectionOfficer_TextArea16"
          formControlName="theCompanyHasADataProtectionOfficer_TextArea16"
          rows="3"
        ></textarea>
      </div>
    </div>
</form>
</div>

<!-- PERGUNTA 17 -->
<div class="Accountiner">
  <form [formGroup]="formulario">

    <div class="form-group">
        <label for="theCompanyIsAbleToMeetTheRightsOfHoldersOfPersonalData">17 - A empresa encontra-se apta a atender os direitos dos titulares de dados pessoais e a fornecer os relatórios necessários para avaliação de impacto em caso de incidentes com dados pessoais? </label>
       <div class="linha">
        <div class="form-check-inline">
          <input id="true" type="radio" value='1' name="theCompanyIsAbleToMeetTheRightsOfHoldersOfPersonalData"  formControlName="theCompanyIsAbleToMeetTheRightsOfHoldersOfPersonalData" (change)="changeQuiz($event)"> Sim
       </div>

       <div class="form-check-inline">
          <input id="false" type="radio" value="0" name="theCompanyIsAbleToMeetTheRightsOfHoldersOfPersonalData" formControlName="theCompanyIsAbleToMeetTheRightsOfHoldersOfPersonalData" (change)="changeQuiz($event)"> Não
       </div>
       </div>
    </div>
</form>
</div>

<!-- PERGUNTA 18 -->
<div class="Accountiner">
  <form [formGroup]="formulario">

    <div class="form-group">
        <label for="employeesReceiveTraining">18 - Os colaboradores recebem treinamento e capacitação contínua sobre a importância da proteção de dados pessoais? </label>
       <div class="linha">
        <div class="form-check-inline">
          <input id="true" type="radio" value='1' name="employeesReceiveTraining"  formControlName="employeesReceiveTraining" (change)="changeQuiz($event)"> Sim
       </div>

       <div class="form-check-inline">
          <input id="false" type="radio" value="0" name="employeesReceiveTraining" formControlName="employeesReceiveTraining" (change)="changeQuiz($event)"> Não
       </div>
       </div>
    </div>
</form>
</div>

<!-- PERGUNTA 19 -->
<div class="Accountiner">
  <form [formGroup]="formulario">

    <div class="form-group">
        <label for="describeTheSecurityTechniquesAdopted">19 - Descreva as técnicas de segurança adotadas para preservar a confidencialidade, a integridade e a disponibilidade dos dados pessoais (exemplo: uso de antivírus, firewall, criptografia, etc.) </label>
       <div class="linha">
        <div class="form-check-inline">
          <input id="true" type="radio" value='1' name="describeTheSecurityTechniquesAdopted"  formControlName="describeTheSecurityTechniquesAdopted" (change)="changeQuiz19($event)"> Sim
       </div>

       <div class="form-check-inline">
          <input id="false" type="radio" value="0" name="describeTheSecurityTechniquesAdopted" formControlName="describeTheSecurityTechniquesAdopted" (change)="changeQuiz19($event)"> Não
       </div>
       </div>
       <div class="form-group" [hidden]="!box19">
        <label for="describeTheSecurityTechniquesAdopted_TextArea19">Se sim, especifique:</label>
        <textarea
          class="form-control"
          id="describeTheSecurityTechniquesAdopted_TextArea19"
          formControlName="describeTheSecurityTechniquesAdopted_TextArea19"
          rows="3"
        ></textarea>
      </div>
    </div>
</form>
</div>

<!-- PERGUNTA 20 -->
<div class="Accountiner">
  <form [formGroup]="formulario">

    <div class="form-group">
        <label for="allTransfersAndSharingOfPersonalDataCarriedOut">20 - Todas as transferências e compartilhamentos de dados pessoais realizados pela empresa estão devidamente identificados e ocorrem de acordo com a forma prevista em lei?</label>
       <div class="linha">
        <div class="form-check-inline">
          <input id="true" type="radio" value='1' name="allTransfersAndSharingOfPersonalDataCarriedOut"  formControlName="allTransfersAndSharingOfPersonalDataCarriedOut" (change)="changeQuiz($event)"> Sim
       </div>

       <div class="form-check-inline">
          <input id="false" type="radio" value="0" name="allTransfersAndSharingOfPersonalDataCarriedOut" formControlName="allTransfersAndSharingOfPersonalDataCarriedOut" (change)="changeQuiz($event)"> Não
       </div>
       </div>
    </div>
</form>
</div>


  <div class="flex-box" id="centro">
    <h4>Assinatura do Representante</h4>
  </div>

  <div class="d-flex">

    <div class="form-group col-md-12">
      <label for="representativeName">Nome do representante legal</label>
      <input
        type="text"
        class="form-control"
        [ngClass]="{ 'is-invalid': f.representativeName.errors && f.representativeName.touched }"
        formControlName="representativeName"
        id="representativeName"
        placeholder="Digite o nome do representante legal"
      />
      <div *ngIf="f.representativeName.errors?.required" class="invalid-feedback">
        O nome do representante legal é obrigatório.
      </div>
    </div>
  </div>

 <div class="d-flex">
  <div class="form-group col-md-4">
    <label for="rgRepresentative" class="control-label">RG</label>
    <input
      type="text"
      class="form-control"
      [ngClass]="{ 'is-invalid': f.rgRepresentative.errors && f.rgRepresentative.touched }"
      formControlName="rgRepresentative"
      id="rgRepresentative"
      placeholder="Digite o RG do representante legal"
    />
    <div *ngIf="f.rgRepresentative.errors?.required" class="invalid-feedback">
      O RG do representante legal é obrigatório.
    </div>
  </div>

  <div class="col-md-8">
    <label for="occupationRepresentative" class="control-label">Cargo</label>
    <input
      type="text"
      class="form-control"
      [ngClass]="{ 'is-invalid': f.occupationRepresentative.errors && f.occupationRepresentative.touched }"
      formControlName="occupationRepresentative"
      id="occupationRepresentative"
      placeholder="Digite o cargo do representante legal"
    />
    <div *ngIf="f.occupationRepresentative.errors?.required" class="invalid-feedback">
      O cargo do representante legal é obrigatório.
    </div>
  </div>
 </div>


  <!-- BOTÕES -->

  <div class="flex-box">
    <button type="button" class="btn btn-danger" (click)="resetar()">
      <i class="fa fa-times-circle" aria-hidden="true"></i>
      Limpar
    </button>

    <button
      type="submit"
      class="btn btn-success"
      (click)="saveClick()"
      [disabled]="!formulario.valid"
      >
      <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
      Gerar PDF
    </button>

  </div>

</form>
</div>
<!-- [disabled]="!formulario.valid" -->

