<nav class="navbar navbar-expand-lg navbar-dark bg-custom sticky-top" >
  <div class="container">
    <div class="fadeIn first" style="margin-left: 0px;">
      <a routerLink="/home">
        <img class="logo-img" src="assets/img/mv-logo-branco.png" />
      </a>
    </div>

    <div class="collapse navbar-collapse" id="centro">
        <span class="sigs-title" id="centro" style="width:100%; text-align:center;">CADASTRAMENTO DE FORNECEDORES E DECLARAÇÃO – DUE DILLIGENCE</span>
    </div>
  </div>
</nav>
